{{#component 'dash-tabs/sub-tabs' class="no-gap show-overflow" tabGroup="player-statistics" tabRoute="statistics" isShowing=isShowing noPaddingMobile=false hasHeader=true as |section| }}
  
  {{#if (compare section '===' 'header')}}
    
    <div class="dash-box-padding no-bottom-pad">
    
      {{#blackout-select
        classes=''
        selected=currentSeason
        onchange=(action 'changeSeason')
        options=seasons as |season|
      }}
      {{season.label}}
      {{/blackout-select}}
      
    </div>
    
  {{else}}
  
    <div id="player-statistics-allPanel" data-tab-t="player.statistics.all" data-tab-icon-class="icon-chart-bar icon-lg">
      
      <h5 class="gap-lg no-top-gap">{{t 'buttons.misc'}}</h5>
      
      {{component 'player-ui/player-stats/stats-group' stats=seasonStats group=miscGroup}}
      
      <h5 class="gap-lg">{{t 'player.statistics.points'}}</h5>
      
      {{component 'player-ui/player-stats/stats-group' stats=seasonStats group=pointsGroup}}
      
      <h5 class="gap-lg">{{t 'player.attack'}}</h5>
      
      {{component 'player-ui/player-stats/stats-group' stats=seasonStats group=attackGroup}}
      
      <h5 class="gap-lg">{{t 'player.defence'}}</h5>
    
      {{component 'player-ui/player-stats/stats-group' stats=seasonStats group=defenceGroup}}
      
      <h5 class="gap-lg">{{t 'player.kicking'}}</h5>
    
      {{component 'player-ui/player-stats/stats-group' stats=seasonStats group=kickingGroup}}
      
      <h5 class="gap-lg">{{t 'player.handling'}}</h5>
    
      {{component 'player-ui/player-stats/stats-group' stats=seasonStats group=handlingGroup}}
      
      <h5 class="gap-lg">{{t 'player.discipline'}}</h5>
    
      {{component 'player-ui/player-stats/stats-group' stats=seasonStats group=disciplineGroup}}
      
      <h5 class="gap-lg">{{t 'player.statistics.lineout'}}</h5>
    
      {{component 'player-ui/player-stats/stats-group' stats=seasonStats group=lineoutGroup}}
      
      <h5 class="gap-lg">{{t 'player.statistics.caps'}}</h5>
      
      {{component 'player-ui/player-stats/stats-group' stats=seasonStats group=capsGroup percent=true}}
      
    </div>
    
    <div id="player-statistics-pointsPanel" data-tab-t="player.statistics.points" data-tab-icon-class="icon-list-numbered icon-lg">
      
      {{component 'player-ui/player-stats/stats-group' stats=seasonStats group=pointsGroup}}
      
    </div>

    <div id="player-statistics-attackPanel" data-tab-t="player.attack" data-tab-icon-class="icon-skill-attack icon-2x">
      
      {{component 'player-ui/player-stats/stats-group' stats=seasonStats group=attackGroup}}
      
    </div>

    <div id="player-statistics-defencePanel" data-tab-t="player.defence" data-tab-icon-class="icon-skill-defence icon-2x">
    
      {{component 'player-ui/player-stats/stats-group' stats=seasonStats group=defenceGroup}}
      
    </div>

    <div id="player-statistics-kickingPanel" data-tab-t="player.kicking" data-tab-icon-class="icon-skill-kicking icon-1-5x">
    
      {{component 'player-ui/player-stats/stats-group' stats=seasonStats group=kickingGroup}}
      
    </div>

    <div id="player-statistics-handlingPanel" data-tab-t="player.handling" data-tab-icon-class="icon-skill-handling icon-1-5x">
    
      {{component 'player-ui/player-stats/stats-group' stats=seasonStats group=handlingGroup}}
      
    </div>

    <div id="player-statistics-disciplinePanel" data-tab-t="player.discipline" data-tab-icon-class="icon-skill-technique icon-2x">
    
      {{component 'player-ui/player-stats/stats-group' stats=seasonStats group=disciplineGroup}}
      
    </div>

    <div id="player-statistics-lineoutPanel" data-tab-t="player.statistics.lineout" data-tab-icon-class="icon-skill-jumping icon-2x">
    
      {{component 'player-ui/player-stats/stats-group' stats=seasonStats group=lineoutGroup}}
      
    </div>

    <div id="player-statistics-capsPanel" data-tab-t="player.statistics.caps" data-tab-icon-class="icon-cap icon-2x">
    
      {{component 'player-ui/player-stats/stats-group' stats=seasonStats group=capsGroup percent=true}}
      
    </div>
    
  {{/if}}
  
{{/component}}