{{#component 'dash-tabs/sub-tabs' class="no-gap show-overflow" tabGroup="player-statistics" tabRoute="statistics" isOnScreen=(readonly isOnScreen) noPaddingMobile=false parentTab=parentTab as |tabs| }}
  
  {{#tabs.list as |list|}}
    
    {{list.tab tab="player-statistics-all-panel" name-t="player.statistics.all" icon-class="icon-chart-bar icon-lg" }}
    
    {{list.tab tab="player-statistics-points-panel" name-t="player.statistics.points" icon-class="icon-list-numbered icon-lg" }}
    
    {{list.tab tab="player-statistics-attack-panel" name-t="player.attack" icon-class="icon-skill-attack icon-2x" }}
    
    {{list.tab tab="player-statistics-defence-panel" name-t="player.defence" icon-class="icon-skill-defence icon-2x" }}
    
    {{list.tab tab="player-statistics-kicking-panel" name-t="player.kicking" icon-class="icon-skill-kicking icon-1-5x" }}
    
    {{list.tab tab="player-statistics-handling-panel" name-t="player.handling" icon-class="icon-skill-handling icon-1-5x" }}
    
    {{list.tab tab="player-statistics-discipline-panel" name-t="player.discipline" icon-class="icon-skill-technique icon-2x" }}
    
    {{list.tab tab="player-statistics-lineout-panel" name-t="player.statistics.lineout" icon-class="icon-skill-jumping icon-2x" }}
    
    {{list.tab tab="player-statistics-caps-panel" name-t="player.statistics.caps" icon-class="icon-cap icon-2x" }}
    
  {{/tabs.list}}
  
    
  <div class="dash-box-padding no-bottom-pad">
  
    {{#blackout-select
      classes=''
      selected=currentSeason
      onChange=(action 'changeSeason')
      options=seasons as |season|
    }}
    {{season.label}}
    {{/blackout-select}}
    
  </div>
  
  
  {{#tabs.content as |content|}}
    
    
    {{#content.tab id="player-statistics-all-panel" isLoadingData=isLoadingSeasonStats}}
      
      <h5 class="gap-lg no-top-gap">{{t 'buttons.misc'}}</h5>
      
      {{player-ui/player-stats/stats-group stats=seasonStats group=miscGroup}}
      
      <h5 class="gap-lg">{{t 'player.statistics.points'}}</h5>
      
      {{player-ui/player-stats/stats-group stats=seasonStats group=pointsGroup}}
      
      <h5 class="gap-lg">{{t 'player.attack'}}</h5>
      
      {{player-ui/player-stats/stats-group stats=seasonStats group=attackGroup}}
      
      <h5 class="gap-lg">{{t 'player.defence'}}</h5>
    
      {{player-ui/player-stats/stats-group stats=seasonStats group=defenceGroup}}
      
      <h5 class="gap-lg">{{t 'player.kicking'}}</h5>
    
      {{player-ui/player-stats/stats-group stats=seasonStats group=kickingGroup}}
      
      <h5 class="gap-lg">{{t 'player.handling'}}</h5>
    
      {{player-ui/player-stats/stats-group stats=seasonStats group=handlingGroup}}
      
      <h5 class="gap-lg">{{t 'player.discipline'}}</h5>
    
      {{player-ui/player-stats/stats-group stats=seasonStats group=disciplineGroup}}
      
      <h5 class="gap-lg">{{t 'player.statistics.lineout'}}</h5>
    
      {{player-ui/player-stats/stats-group stats=seasonStats group=lineoutGroup}}
      
      <h5 class="gap-lg">{{t 'player.statistics.caps'}}</h5>
      
      {{player-ui/player-stats/stats-group stats=seasonStats group=capsGroup percent=true}}
      
    {{/content.tab}}
    
    
    {{#content.tab id="player-statistics-points-panel" isLoadingData=isLoadingSeasonStats}}
      {{player-ui/player-stats/stats-group stats=seasonStats group=pointsGroup}}
    {{/content.tab}}
    
    
    {{#content.tab id="player-statistics-attack-panel" isLoadingData=isLoadingSeasonStats}}
      {{player-ui/player-stats/stats-group stats=seasonStats group=attackGroup}}
    {{/content.tab}}
    
    
    {{#content.tab id="player-statistics-defence-panel" isLoadingData=isLoadingSeasonStats}}
      {{player-ui/player-stats/stats-group stats=seasonStats group=defenceGroup}}
    {{/content.tab}}
    
    
    {{#content.tab id="player-statistics-kicking-panel" isLoadingData=isLoadingSeasonStats}}
      {{player-ui/player-stats/stats-group stats=seasonStats group=kickingGroup}}
    {{/content.tab}}
    
    
    {{#content.tab id="player-statistics-handling-panel" isLoadingData=isLoadingSeasonStats}}
      {{player-ui/player-stats/stats-group stats=seasonStats group=handlingGroup}}
    {{/content.tab}}
    
    
    {{#content.tab id="player-statistics-discipline-panel" isLoadingData=isLoadingSeasonStats}}
      {{player-ui/player-stats/stats-group stats=seasonStats group=disciplineGroup}}
    {{/content.tab}}
    
    
    {{#content.tab id="player-statistics-lineout-panel" isLoadingData=isLoadingSeasonStats}}
      {{player-ui/player-stats/stats-group stats=seasonStats group=lineoutGroup}}
    {{/content.tab}}
    
    
    {{#content.tab id="player-statistics-caps-panel" isLoadingData=isLoadingSeasonStats}}
      {{player-ui/player-stats/stats-group stats=seasonStats group=capsGroup percent=true}}
    {{/content.tab}}
    
    
  {{/tabs.content}}
  
{{/component}}