<button {{action 'onYes'}} class="confirm-button-yes confirm-button-action btn {{buttonClass}}">{{t 'buttons.yes'}}</button>
<button {{action 'onNo'}} class="confirm-button-no confirm-button-action btn {{buttonClass}}">{{t 'buttons.no'}}</button>

{{#loader-button class=buttonClass clickAction=(action 'onClick') confirmMode=true loading=loading disabled=disabled noDisabledCursor=timerIsGoing}}{{yield}}{{/loader-button}}

{{pie-timer isTiming=timerIsGoing duration=10 onComplete=(action 'onTimerComplete')}}