{{#sub-nav-content name="squadList" keepSubRoutes=keepSubRoutes buttonIcon="icon-team" updateOn=players}}
  
  <div class="sub-nav-inner-padding">
    
    <div class="sub-nav-header dark">
      
      {{#unless (current-club (get (geti players 0) 'club'))}}
        
        <div class="gap-lg text-center">
          {{club-ui club=(get (geti players 0) 'club') stacked=true imageSize='medium-2x' class="on-dark text-medium-2x"}}
        </div>
        
      {{/unless}}
      
      <label for="squad-sort" class="label">{{t 'buttons.sort'}}</label>
      
      <div>
        {{#blackout-select
          id="squad-sort"
          class="gap-md right-gap-sm"
          classes="btn-on-dark on-dark"
          selected=currentSort
          onChange=(action "changeSort")
          options=sorts as |sort|
        }}
        {{sort.label}}
        {{/blackout-select}}
        
        <a {{action 'toggleSortOrder'}} class="btn-a on-dark sort-order-button vtop"><i class="icon-sort icon-vcenter {{sortIconReversed}}"></i></a>
      </div>
      
    </div>
    
    {{#each playersSorted as |player index|}}
      
      <a class="menu-link nowrap btn-a {{if (eq player.id currentPlayer.id) " selected"}}" id="sub-menu-link-{{player.id}}">
        <div class="row row-nowrap">
        
          <div class="col-auto">
            <div class="player-avatar player-avatar-sub-nav">
              {{#if (not-eq player.jersey 255)}}
                <div class="player-ui-jersey sub-nav">
                  <i class="icon-jersey"></i>
                  <div class="number">
                    {{player.jersey}}
                  </div>
                </div>
              {{/if}}
            </div>
          </div>
          
          <div class="col-flex vc-parent right-gap-lg ellipsis">
            <div class="ellipsis">{{player.name}}</div>
          </div>
          
          {{#if player.transfer}}
          <div class="col-auto vc-parent">
            <i class="icon-tag icon-lg for-sale-color on-dark"></i>
          </div>
          {{/if}}
          
          {{#if player.isInjured}}
          <div class="col-auto vc-parent">
            <i class="icon-medkit icon-lg injury-color on-dark"></i>
          </div>
          {{/if}}
          
        </div>
      </a>
    
    {{/each}}
    
  </div>
    
{{/sub-nav-content}}