
{{#if editable}}

  <a {{action 'showEditor'}} class="user-image-editable btn-a">
    
    <div class="has-position">
      {{user-image type=type size=(if media.isMobile 'large' 'huge') defaultColor='light' isCurrentUserImage=isCurrentUserImage}}
      <i class="icon-edit-circle icon-2x"></i>
    </div>
    
    <div class="manager-avatar-edit top-gap-sm text-medium">
      
      {{t 'buttons.change'}}
      
    </div>
  </a>
  
  {{#float-window showWindow=(mut showingEditor) onClose=(action 'onCancel')}}
    
    <div class="row row-center gap-lg">
      {{user-image type=type size=(if media.isMobile 'large' 'gigantic') class='avatar-editor' defaultColor='light' isCurrentUserImage=isCurrentUserImage}}
    </div>
    
    {{blackout-form form=(readonly editorForm) model=editorModel onCancel=(action "onCancel") onSave=(action "onSave") useCloseButton=true}}
    
  {{/float-window}}
  
{{else}}
  
  {{fade-img
    url=(readonly imageUrl)
    class=imageClass
    imageClasses=(readonly imageClasses)
    minResolution=0
    placeholderUrl=placeholderUrl
    notFoundUrl=notFoundUrl
    bgColor=defaultBgColor
    cover=true
    loaderAnimation=false
  }}
  {{!<div class="user-image"></div>}}
  
{{/if}}