<h5 class="gap-2x no-top-gap">{{t 'player.manage.actions'}}</h5>

<div class="gap-md vt-parent">
  
  <button {{action 'openSellPlayer'}} class="btn btn-big right-gap-md gap-md">{{t 'buttons.sell-player'}}</button>

  {{#confirm-button class="btn-big btn-right-gap btn-red" clickAction=(action 'firePlayer') isOnScreen=isOnScreen}}{{t 'buttons.fire-player'}}{{/confirm-button}}
  
</div>

{{#if actionsError}}
<div class="has-error">
  <div class="control-label">{{actionsError}}</div>
</div>
{{/if}}
  
{{#float-window isOnScreen=(mut showingSellPlayerBox) onClose=(action 'onCancelSellPlayer')}}
  
  <h5 class="no-top-gap gap-2x">{{t 'buttons.sell-player'}}</h5>
  
  {{blackout-form form=(readonly sellForm) model=sellModel onCancel=(action "cancelSell") serverError=serverError onSave=(action "listPlayer") confirm=true isOnScreen=showingSellPlayerBox submitLabel=(t 'player.selling.list-player') debugFader=true }}
  
  
  {{!scroll-tester}}
  
{{/float-window}}