{{top-level images=""}}

<!-- So that #nav-body can have transparent bg for sidebar gap-fill-->
<div class="bg-preload">

  {{way-point action="handleWaypoint" offset=waypointOffset id="home" contextElementId=scrollContextId class="waypoint"}}

  <div id="top-section-wrapper">
    
    
    <div id="top-section-balloon"></div>

    {{#component "index/home-backgrounds" id="top-section"}}

    <div class="container-fluid" style="position:relative;">
    
      <div class="standalone-bumper"></div>
      
      <div id="home-page-language">
        <div class="standalone-bumper"></div>
        <a {{action 'toggleSettings'}} class="btn-a white">{{locale.currentLocaleName}}</a>
      </div>

      <div id="welcome" class="{{if session.isAuthenticated "gap-2x"}}">{{t 'home-page.welcome'}}</div>

      {{#if session.isAuthenticated}}
        
        <div class="row-center">
          <div class="col white home-welcome-back">
            {{t 'home-page.welcome-back' manager=session.data.manager.username}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-flex"></div>
              <div class="col-fixed">
                {{user-image type='manager' class='manager-avatar-home' defaultColor='dark' size='large'}}
              </div>
              <div class="col-flex"></div>
            </div>
          </div>
        </div>
        
      {{/if}}

      <div id="subtitle">{{t 'home-page.your-club-awaits'}}</div>

      {{#unless session.isAuthenticated}}
      
        <div class="fbcontinue-container">
          {{#loader-button action="loginWithFacebook" class="btn btn-fat btn-fb fbcontinue-button no-outline home-signup-buttons ellipses"   spinnerColor="fb" }}
            <i class="icon-facebook btn-fb-icon"></i> {{t 'home-page.continue-with-fb'}}{{/loader-button}}
        </div>

        <div class="signup-container">
          {{#link-to 'signup' tagName='button' class="btn btn-fat no-outline home-signup-buttons gap-md ellipses"}}{{t 'home-page.signup-with-email'}}{{/link-to}}
        </div>
        
      {{/unless}}
      
      <div id="testimony-container">
        <div id="testimony" class="row row-nowrap">
          <div id="testimony-text" class="col-xs-9">
            {{t 'home-page.testimony'}}
          </div>
          <div id="testimony-writer-container" class="col-xs-3">
            <a href="http://www.amazon.com/s/ref=dp_byline_sr_book_2?ie=UTF8&text=Nick+Bishop&search-alias=books&field-author=Nick+Bishop&sort=relevancerank" target="_blank">
              <div id="testimony-writer">Nick Bishop</div>
              <div id="testimony-type">{{t 'home-page.testimony-author'}}</div>
            </a>
          </div>

        </div>
      </div>

    </div>
      
      {{#fast-button action="showMenu" id="home-menu-button" class="btn nav-tab-btn nav-tab-menu no-focus" }}
        <div class="flex-col flex-col-center">
          <div class="nav-icon-wrapper nav-burger nav-cross">
            <span class="lines"></span>
          </div>
        </div>
      {{/fast-button}}
      
      <div id="home-more-button" class="{{if session.isAuthenticated "is-authenticated"}}">
        {{#scroll-to href='#about' class="btn-a"}}<i class="icon-more"></i>{{/scroll-to}}
      </div>
      
      {{#unless session.isAuthenticated}}
        {{#link-to "login" id="home-login-button" class="btn btn-ghost white on-image btn-small"}}{{t 'buttons.login'}}{{/link-to}}
      {{/unless}}

    {{/component}} 
  </div>


  {{way-point action="handleWaypoint" offset=waypointOffset id="about" contextElementId=scrollContextId class="waypoint"}}

  <div class="home-content-block home-block-light about-container">

    <div class="about-top-section">

      <h1>{{t 'home-page.about.title'}}</h1>

      <div class="col-md-8 center blurb">

        {{t 'home-page.about.blurb'}}

        {{!
        <p>Many of the other clubs are owned by real people around the world. You'll play against others in your league, in the national cup, or organise a friendly with anyone you like. Then when you're done winning, head to the clubrooms, pour yourself a beer and for a bit of social interaction with the community.</p>}}

      </div>

    </div>

    <div class="row">

      <div class="col-xs-12 about-block a">
        <div class="about-block-head a">
          <h4>{{t 'home-page.about.lineup-title'}}</h4>
        </div>
        <div class="about-block-body a"><i class="icon-logo logo-placeholder a"></i>
          <br>{{t 'home-page.about.lineup-blurb'}}
        </div>
      </div>

      <div class="col-xs-12 about-block b">
        <div class="about-block-head b">
          <h4>{{t 'home-page.about.training-title'}}</h4>
        </div>
        <div class="about-block-body b"><i class="icon-logo logo-placeholder b"></i>
          <br>{{t 'home-page.about.training-blurb'}}
        </div>
      </div>

      <div class="col-xs-12 about-block a">
        <div class="about-block-head a">
          <h4>{{t 'home-page.about.energy-title'}}</h4>
        </div>
        <div class="about-block-body a"><i class="icon-logo logo-placeholder a"></i>
          <br>{{t 'home-page.about.energy-blurb'}}
        </div>
      </div>

      <div class="col-xs-12 about-block b">
        <div class="about-block-head b">
          <h4>{{t 'home-page.about.market-title'}}</h4>
        </div>
        <div class="about-block-body b"><i class="icon-logo logo-placeholder b"></i>
          <br>{{t 'home-page.about.market-blurb'}}
        </div>
      </div>

      <div class="col-xs-12 about-block a">
        <div class="about-block-head a">
          <h4>{{t 'home-page.about.social-title'}}</h4>
        </div>
        <div class="about-block-body a"><i class="icon-logo logo-placeholder a"></i>
          <br>{{t 'home-page.about.social-blurb'}}
        </div>
      </div>

      <div class="col-xs-12 about-block b">
        <div class="about-block-head b">
          <h4>{{t 'home-page.about.world-title'}}</h4>
        </div>
        <div class="about-block-body b"><i class="icon-logo logo-placeholder b"></i>
          <br>{{t 'home-page.about.world-blurb'}}
        </div>
      </div>

      <div class="col-xs-12 about-block a">
        <div class="about-block-head a">
          <h4>{{t 'home-page.about.devices-title'}}</h4>
        </div>
        <div class="about-block-body a"><i class="icon-logo logo-placeholder a"></i>
          <br>{{t 'home-page.about.devices-blurb'}}
        </div>
      </div>

    </div>

  </div>

  {{way-point action="handleWaypoint" offset=waypointOffset id="numbers" select="about" contextElementId=scrollContextId class="waypoint"}}
  
  <div class="home-content-block home-block-dark stats-container">

    <h1>{{t 'home-page.stats.title'}}</h1>

    <div class="row">
      <div class="col-md-4 stats-block">

        <h4 class="text-center">{{t 'home-page.stats.people'}}</h4>


        <div class="stat row">
          <div class="stat-value">
            {{number stats.activeManagers roundMillions=true}}
          </div>
          <div class="stat-label">
            {{t 'home-page.stats.people.managers'}}
          </div>
        </div>

        <div class="stat row">
          <div class="stat-value">
            {{number stats.activeTeams roundMillions=true}}
          </div>
          <div class="stat-label">
            {{t 'home-page.stats.people.clubs'}}
          </div>
        </div>

        <div class="stat row">
          <div class="stat-value">
            {{number stats.managersOnline roundMillions=true}}
          </div>
          <div class="stat-label">
            {{t 'home-page.stats.people.online'}}
          </div>
        </div>

        <div class="stat row">
          <div class="stat-value">
            {{number stats.hoursPlayedLastWeek roundMillions=true}}
          </div>
          <div class="stat-label">
            {{t 'home-page.stats.people.hours-week'}}
          </div>
        </div>

        <div class="stat row">
          <div class="stat-value">
            {{number stats.hoursPlayedYesterday roundMillions=true}}
          </div>
          <div class="stat-label">
            {{t 'home-page.stats.people.hours-day'}}
          </div>
        </div>

        <div class="stat row">
          <div class="stat-value">
            {{number stats.signupsLastWeek roundMillions=true}}
          </div>
          <div class="stat-label">
            {{t 'home-page.stats.people.signups-week'}}
          </div>
        </div>

        <div class="stat row">
          <div class="stat-value">
            {{number stats.signupsYesterday roundMillions=true}}
          </div>
          <div class="stat-label">
            {{t 'home-page.stats.people.signups-day'}}
          </div>
        </div>

      </div>
      <div class="col-md-4 stats-block">
        
        <h4 class="text-center">{{t 'home-page.stats.nations'}}</h4>
        
        {{#each countries key="@index" as |country index|}}

        <div class="stat row">
          <div class="stat-value">
            {{number country.activeTeams roundMillions=true}}
          </div>
          <div class="stat-label">
            {{t 'home-page.stats.nations.clubs-in' country=country.name}}
          </div>
        </div>

        {{/each}}

      </div>
      <div class="col-md-4 stats-block">
        
        <h4 class="text-center">{{t 'home-page.stats.rugby'}}</h4>

        <div class="stat row">
          <div class="stat-value">
            {{number stats.triesLastWeek roundMillions=true}}
          </div>
          <div class="stat-label">
            {{t 'home-page.stats.rugby.tries-week'}}
          </div>
        </div>

        <div class="stat row">
          <div class="stat-value">
            {{number stats.triesYesterday roundMillions=true}}
          </div>
          <div class="stat-label">
            {{t 'home-page.stats.rugby.tries-day'}}
          </div>
        </div>

        <div class="stat row">
          <div class="stat-value">
            {{number stats.injuriesLastWeek roundMillions=true}}
          </div>
          <div class="stat-label">
            {{t 'home-page.stats.rugby.injuries-week'}}
          </div>
        </div>

        <div class="stat row">
          <div class="stat-value">
            {{number stats.injuriesYesterday roundMillions=true}}
          </div>
          <div class="stat-label">
            {{t 'home-page.stats.rugby.injuries-day'}}
          </div>
        </div>

        <div class="stat row">
          <div class="stat-value">
            {{number stats.popsLastWeek roundMillions=true}}
          </div>
          <div class="stat-label">
            {{t 'home-page.stats.rugby.pops-week'}}
          </div>
        </div>

        <div class="stat row">
          <div class="stat-value">
            {{number stats.transfersLastWeek roundMillions=true}}
          </div>
          <div class="stat-label">
            {{t 'home-page.stats.rugby.transfers-week'}}
          </div>
        </div>

        <div class="stat row">
          <div class="stat-value">
            {{number stats.transfersYesterday roundMillions=true}}
          </div>
          <div class="stat-label">
            {{t 'home-page.stats.rugby.transfers-day'}}
          </div>
        </div>

        <div class="stat row">
          <div class="stat-value">
            {{money-ui value=stats.moneyTransferredLastWeek roundMillions=true}}
          </div>
          <div class="stat-label">
            {{t 'home-page.stats.rugby.sales-week'}}
          </div>
        </div>

        <div class="stat row">
          <div class="stat-value">
            {{money-ui value=stats.moneyTransferredYesterday roundMillions=true}}
          </div>
          <div class="stat-label">
            {{t 'home-page.stats.rugby.sales-day'}}
          </div>
        </div>

      </div>
    </div>

  </div>


  {{way-point action="handleWaypoint" offset=waypointOffset id="contact" contextElementId=scrollContextId class="waypoint"}}

  <div class="home-content-block home-block-light contact-container">

    <div class="contact-header">
      <h1>{{t 'home-page.contact.title'}}</h1>
      <div class="contact-email"><i class="icon-mail icon-sm contact-icon"></i> <a href="mailto:support@blackoutrugby.com">support@blackoutrugby.com</a></div>
      <div class="contact-location">
        PO Box 12725, Chartwell 3248
        <br> Hamilton, New Zealand</div>
    </div>

  </div>



  <footer class="dark home-content-block home-block-dark container footer-container">

    {{#unless session.isAuthenticated}}
    <div class="gap-2x">
      
      {{#loader-button action="loginWithFacebook" class="home-footer-button btn btn-small btn-fb fbcontinue-button fbcontinue-small no-outline" spinnerColor="fb" }}<i class="icon-facebook btn-fb-icon"></i> {{t 'home-page.continue-with-fb'}}{{/loader-button}}
      
      {{#link-to "signup" class="home-footer-button btn btn-ghost white btn-small"}}{{t 'buttons.signup'}}{{/link-to}}
      
      {{#link-to "login" class="home-footer-button btn btn-ghost white btn-small"}}{{t 'buttons.login'}}{{/link-to}}
    
    </div>
    {{/unless}}
    
    <div class="row footer-main">

      <div class="col-xxs-12 col-xs-3 text-left text-center-xxs">

        {{#scroll-to href='#home' class="scroll-link-home"}}{{t 'buttons.home'}}{{/scroll-to}}<br>
        {{#scroll-to href='#about' class="scroll-link-about"}}{{t 'buttons.about'}}{{/scroll-to}}<br>
        {{#scroll-to href='#numbers' class="scroll-link-numbers"}}{{t 'buttons.statistics'}}{{/scroll-to}}<br>
        {{#scroll-to href='#contact' class="scroll-link-contact"}}{{t 'buttons.contact'}}{{/scroll-to}}

      </div>


      <div class="col-xxs-12 col-xs-4 text-center social-buttons-container">

        <span>{{#facebook-link class="social-buttons facebook-button"}}<i class="icon-facebook icon-2x "></i>{{/facebook-link}}</span>
        
        <span>{{#twitter-link class="social-buttons twitter-button"}}<i class="icon-twitter icon-2x"></i>{{/twitter-link}}</span>

      </div>


      <div class="col-xxs-12 col-xs-5 text-center-xxs text-right-xs">

        <img src="assets/images/global/full-logo.svg" aria-label={{t 'home-page.logo'}} class="svg footer-logo">

      </div>

    </div>

    <div class="footer-final">
      &copy; {{currentYear}} Blackout Entertainment Ltd &bull; {{t 'home-page.all-rights-reserved'}} &bull; <a href="https://www.iubenda.com/privacy-policy/657214">{{t 'home-page.privacy'}}</a> &bull; <a {{action 'showSettings'}}>{{locale.currentLocaleName}}</a>
    </div>

  </footer>

</div>
