<div class="skill-bar-wrapper vc-parent {{if vertMode 'skill-bar-vert' 'row full-size'}}">

  <div class="skill-bar-placeholder border-radius-fix col-flex">
    <div class="skill-bar">
      
    </div>
    {{#if primarySkill}}
      <div class="skill-bar-icon-inner">
        <i></i>
      </div>
    {{/if}}
  </div>

  {{#if notVertMode}}
  <div class="col-fixed {{if notVertMode 'skill-bar-number-col'}}">
    <span class="skill-bar-number skill-bar-label-number {{if primarySkill 'primary-skill'}}">{{displayLevel}}</span><!--span class="skill-bar-max">/{{max}}</span-->
  </div>
  {{/if}}
  
</div>

{{#if label}}
  <div class="player-ui-label ellipsis">{{#if vertMode}}<span class="text-bigger-2x text-fat skill-bar-label-number">{{displayLevel}}</span> {{/if}}{{label}}</div>
{{/if}}