
{{top-level images="dash"}}
{{page-header title=title}}

  <div class="col-12 dash-box-container news-page-container">
    <div class="dash-box">
      
      {{back-button to="dashboard" colored=true}}
      
      {{#infinite-scroll
        content=items
        defaultHeight=150
        lastReached=(action 'fetchMore')
        isLoadingData=isLoadingData
        doesLoadData=true
        as |article|
      }}
        
        <div class="gap-3x">
        
          <h2>{{#link-to articleRoute article.id}}{{article.title}}{{/link-to}}</h2>
          
          {{#if article.img}}
            
            {{#link-to articleRoute article.id}}
              {{fade-bg showLoader=true imageUrl=article.img bgClass="dash-news-image" class="gap-md" }}
            {{/link-to}}
          
          {{/if}}
          
          <p class="gap-sm">
            
            {{{article.short}}}
            
            {{#if article.hasMoreToRead}}
              {{#link-to articleRoute article.id class="nowrap"}}{{t 'dashboard.news.read-more'}}{{/link-to}}
            {{/if}}
            
          </p>
          
          <div class="news-date">
            {{#if article.isNewToUser}}<b>{{t 'dashboard.news.new'}}</b> &bullet;{{/if}}
            {{date-ui date=article.date class="news-date"}}
            {{#if article.author}}
              {{t-t 'dashboard.news.by-manager' manager=(component 'manager-link' manager=article.author inline=true)}}
            {{/if}}
            {{#if article.country}}
              {{t 'dashboard.news.in-country' country=(country article.country class="nowrap")}}
            {{/if}}
          </div>
          
        </div>
        
      {{/infinite-scroll}}
      
    </div>
  </div>