{{#action-box flowFrom="topRight" onDark=true buttonHeightOffset=-5 ignore='.player-export-float-window' as |box|}}

  {{#box.button class="player-ui-export"}}
    <span class="ellipsis"><i class="icon-export-alt icon-lg icon-vcenter icon-less-width gap-sm"></i> <span class="hidden-xxs">{{t 'buttons.export'}}</span></span>
  {{/box.button}}
  
  {{#box.content}}
    
    <h6 class="white nowrap no-top-gap">
      {{t 'buttons.plaintext'}}
    </h6>
    <div class="nowrap gap-lg">
      
      {{#loader-button clickAction=(action 'downloadPlaintext') class="btn btn-right-gap" disabled=true}}
        {{t 'buttons.download'}}
      {{/loader-button}}
      
      {{#loader-button clickAction=(action 'copyPlaintext') class="btn"}}
        {{t 'buttons.copy-to-clipboard'}}
      {{/loader-button}}
      
    </div>
    
    <h6 class="white nowrap no-top-gap">
      {{t 'buttons.csv'}}
    </h6>
    <div class="nowrap">
      
      {{#loader-button clickAction=(action 'downloadCSV') class="btn btn-right-gap" disabled=true}}
        {{t 'buttons.download'}}
      {{/loader-button}}
      
      {{#loader-button clickAction=(action 'copyCSV') class="btn" disabled=true}}
        {{t 'buttons.copy-to-clipboard'}}
      {{/loader-button}}
      
    </div>
    <div class="helper-text">{{t 'coming-soon.title'}}</div>
    
  {{/box.content}}
  
{{/action-box}}

<button class="copy-button hidden-but-accessible"></button>

{{#float-window showWindow=(mut showingClipboardBox) onClose=(action 'onHideClipboardBox') class='player-export-float-window'}}

  <h5 class="no-top-gap gap-2x">{{t 'misc.clipboard-failure.heading'}}</h5>
  
  <div class="gap-2x">{{t 'misc.clipboard-failure.blurb'}}</div>
  
  {{blackout-form form=(readonly clipboardBoxForm) noButtons=true}}
  
  <button {{action 'hideClipboardBox'}} class="blackout-cancel-button btn btn-big btn-ghost">{{t 'buttons.close'}}</button>

{{/float-window}}