{{top-level images=""}}

<div style="margin:11vmin;">

  <div class="row row-wrap-xxs row-nowrap-xs full-height not-found-container">
  
    
    <div class="col-xxs-12 col-xs text-right not-found-text text-big">
      <h1 class="not-found-title">{{t 'errors.404.title'}}</h1>
      <p class="text-large white">
        {{t 'errors.404.message'}}
      </p>
      <p>
        {{t 'errors.404.helper'}}
      </p>
      <p>
        {{#link-to "index"}}{{t 'buttons.home'}}{{/link-to}}<br>
        {{#link-to "dashboard"}}{{t 'dashboard.title'}}{{/link-to}}
      </p>
    </div>
    
  
    <div class="col-xxs-12 col-xs col-first-xxs text-center">
      <i class="icon-logo-404 icon-vcenter"></i>
    </div>
    
    
  </div>

</div>