
<div class="modal-background"></div>

<div class="modal-panel-wrapper">
  <div class="modal-panel">
    
    <div class="modal-content">
      
      <div class="modal-title"><i class="modal-icon"></i>{{title}}</div>
      
      <div class="modal-message">{{{message}}}
      
        <span class="modal-action">
          
          {{#if modal.actionHTML}}
            {{modal.actionHTML}}
          {{else}}
            {{#if modal.showDefaultAction}}
              <span><a {{action letUsKnowActionName}}>{{t 'modals.default-action'}}</a>.</span>
            {{/if}}
          {{/if}}
          
        </span>
        
      </div>
      
    </div>
    
    <div class="modal-buttons">
      
      {{#each modal.buttons as |button|}}
      
        <a {{action button.action}} class="modal-button btn-a btn-a-white">
          {{button.label}}
        </a>
        
      {{/each}}
      
    </div>

  </div>
</div>