{{#if singleMode}}
  <div class="row gap-2-5x">
    <div class="col-flex">
      {{club-link club=player.club class="player-ui-club top-gap-xs"}}
    </div>
    <div class="col-flex text-right">
      {{flag-icon country=player.nationality size=(if media.isMobile 'medium' 'big')}}
      {{flag-icon country=player.dualNationality size=(if media.isMobile 'medium' 'big')}}
    </div>
  </div>
{{/if}}

<div class="row gap-md {{unless singleMode "player-ui-top"}}">
  <div class="col-flex">
    
    <div class="row row-nowrap">
    
      <div class="row col-flex">
        
        <div class="col-flex player-ui-infobox col-auto-width">
          <div class="player-ui-info-value">{{player.age}}</div>
          <div class="player-ui-info-label">{{t 'player.years-old-(short)'}}</div>
        </div>
        
        <div class="col-flex player-ui-infobox col-auto-width">
          <div class="player-ui-info-value">{{money-ui value=player.wage}}</div>
          <div class="player-ui-info-label">{{t 'player.per-week-(wages)'}}</div>
        </div>
        
        <div class="col-flex player-ui-infobox col-auto-width">
          <div class="player-ui-info-value">{{number player.form}}%</div>
          <div class="player-ui-info-label">{{t 'player.form'}}</div>
        </div>
        
      </div>
    
      <div class="hidden-xxs row col-flex">
        
        <div class="col-flex player-ui-infobox col-auto-width">
          <div class="player-ui-info-value">{{player.height}}</div>
          <div class="player-ui-info-label">{{t 'player.centimeters-(short)'}}</div>
        </div>
        
        <div class="col-flex player-ui-infobox col-auto-width">
          <div class="player-ui-info-value">{{player.weight}}</div>
          <div class="player-ui-info-label">{{t 'player.kilograms-(short)'}}</div>
        </div>
        
        <div class="col-flex player-ui-infobox col-auto-width">
          <div class="player-ui-info-value">{{t (concat 'player.' (lowerCase player.handed) '-(handed/footed)')}}</div>
          <div class="player-ui-info-label">{{t 'player.handed-(left/right)'}}</div>
        </div>
        
        <div class="col-flex player-ui-infobox col-auto-width">
          <div class="player-ui-info-value">{{t (concat 'player.' (lowerCase player.footed) '-(handed/footed)')}}</div>
          <div class="player-ui-info-label">{{t 'player.footed-(left/right)'}}</div>
        </div>
        
      </div>
      
    </div>
  </div>
</div>

<div class="dash-box-negate-padding player-ui-infobar hidden-xs-up">
  
  <div class="row">
    
    <div class="col-flex player-ui-infobox col-auto-width">
      <div class="player-ui-info-value">{{player.height}}</div>
      <div class="player-ui-info-label">{{t 'player.centimeters-(short)'}}</div>
    </div>
    
    <div class="col-flex player-ui-infobox col-auto-width">
      <div class="player-ui-info-value">{{player.weight}}</div>
      <div class="player-ui-info-label">{{t 'player.kilograms-(short)'}}</div>
    </div>
    
    <div class="col-flex player-ui-infobox col-auto-width">
      <div class="player-ui-info-value">{{t (concat 'player.' (lowerCase player.handed) '-(handed/footed)')}}</div>
      <div class="player-ui-info-label">{{t 'player.handed-(left/right)'}}</div>
    </div>
    
    <div class="col-flex player-ui-infobox col-auto-width">
      <div class="player-ui-info-value">{{t (concat 'player.' (lowerCase player.footed) '-(handed/footed)')}}</div>
      <div class="player-ui-info-label">{{t 'player.footed-(left/right)'}}</div>
    </div>
    
  </div>
  
</div>
      
<div class="row top-gap-md row-center">
  <div class="player-ui-big-label col-fixed center-parent player-ui-csr-wide pad-right">{{t 'player.csr'}}</div>
  <div class="player-ui-csr-value col-fixed center-parent player-ui-csr-wide pad-right">{{number player.csr}}</div>
  
  {{#if (owned-club player.club)}}
    <div class="player-ui-csr-change col-fixed center-parent player-ui-csr-wide">{{number player.csrChange prefix=true}}</div>
  {{else}}
    <div class="iblock divider" style="width:50px;"></div>
  {{/if}}
</div>

<div class="divider gap-md hidden-xs-up"></div>
<div class="divider gap-lg hidden-xxs"></div>
          
{{way-point action="handleWaypoint" offset=waypointOffset id=(concat 'player_' player.id) contextElementId=scrollContextId}}

{{#if (or player.transfer (owned-club player.club))}}
  <div class="row">
    
    <div class="col-xs-6 pad-right">
    
      {{skill-bar level=player.stamina max=50 height=skillBarHeight hasAppeared=hasAppearedBars animate=animateBars primarySkill=true icon="stamina" }}
      <div class="player-ui-label ellipses">{{t 'player.stamina'}}</div>
    
      {{skill-bar level=player.attack max=50 height=skillBarHeight hasAppeared=hasAppearedBars animate=animateBars primarySkill=true icon="attack" }}
      <div class="player-ui-label ellipses">{{t 'player.attack'}}</div>
    
      {{skill-bar level=player.technique max=50 height=skillBarHeight hasAppeared=hasAppearedBars animate=animateBars primarySkill=true icon="technique" }}
      <div class="player-ui-label ellipses">{{t 'player.technique'}}</div>
    
      {{skill-bar level=player.jumping max=50 height=skillBarHeight hasAppeared=hasAppearedBars animate=animateBars primarySkill=true icon="jumping" }}
      <div class="player-ui-label ellipses">{{t 'player.jumping'}}</div>
    
      {{skill-bar level=player.agility max=50 height=skillBarHeight hasAppeared=hasAppearedBars animate=animateBars primarySkill=true icon="agility" }}
      <div class="player-ui-label ellipses">{{t 'player.agility'}}</div>
      
    </div>
    
    <div class="col-xs-6">
    
      {{skill-bar level=player.handling max=50 height=skillBarHeight hasAppeared=hasAppearedBars animate=animateBars primarySkill=true icon="handling" }}
      <div class="player-ui-label ellipses">{{t 'player.handling'}}</div>
    
      {{skill-bar level=player.defence max=50 height=skillBarHeight hasAppeared=hasAppearedBars animate=animateBars primarySkill=true icon="defence" }}
      <div class="player-ui-label ellipses">{{t 'player.defence'}}</div>
    
      {{skill-bar level=player.strength max=50 height=skillBarHeight hasAppeared=hasAppearedBars animate=animateBars primarySkill=true icon="strength" }}
      <div class="player-ui-label ellipses">{{t 'player.strength'}}</div>
    
      {{skill-bar level=player.speed max=50 height=skillBarHeight hasAppeared=hasAppearedBars animate=animateBars primarySkill=true icon="speed" }}
      <div class="player-ui-label ellipses">{{t 'player.speed'}}</div>
    
      {{skill-bar level=player.kicking max=50 height=skillBarHeight hasAppeared=hasAppearedBars animate=animateBars primarySkill=true icon="kicking" }}
      <div class="player-ui-label ellipses">{{t 'player.kicking'}}</div>
      
    </div>
    
  </div>

  <div class="player-ui-help-text gap-sm">{{t 'player.skills-max'}}</div>
{{/if}}

<div class="divider {{if singleMode 'gap-2x' 'gap-lg'}} hidden-xs-up"></div>

<div class="row">
  
  <div class="{{if singleMode 'col-xxs-12 col-first-xxs'}} col-xs-4 col-last-xs">
  
    <div class="row">
      
      <div class="col-xs-12 text-center">
        
        <div class="player-ui-energy-wrapper">
          
          <div class="player-ui-energy {{unless singleMode 'squadPageMode'}}">
            {{player.energy}}%
          </div>
          
          {{component chartComponent type='Doughnut' data=energyChartData width=(if (and media.isMobile (not singleMode)) 77 122) height=(if (and media.isMobile (not singleMode)) 77 122) options=energyChartOptions class="player-ui-energy-chart"}}
          
          <div class="chartjs-tooltip"></div>
          
          <div class="player-ui-big-label text-center ellipses">
            {{t 'player.energy'}}
          </div>
          
        </div>
        
      </div>
      
    </div>
      
  </div>
  
  <div class="divider {{if singleMode 'col-xxs-12' 'hidden-xxs'}} hidden-xs-up gap-2x"></div>
  
  <div class="{{if singleMode 'col-xxs-12'}} col-xs-8 vc-parent">
    
    <div class="col-xs-12">
      
      <div class="row">
        
        <div class="col-xs-6">
          
          {{skill-bar level=player.aggression max=20 height=attrBarHeight hasAppeared=hasAppearedBars animate=animateBars numberSizeMobile="15px" }}
          <div class="player-ui-label player-ui-attr-label ellipses gap-md">{{t 'player.aggression'}}</div>
          
          {{skill-bar level=player.discipline max=20 height=attrBarHeight hasAppeared=hasAppearedBars animate=animateBars numberSizeMobile="15px" }}
          <div class="player-ui-label player-ui-attr-label ellipses">{{t 'player.discipline'}}</div>
          
        </div>
        
        <div class="col-xs-6"> 
          
          {{skill-bar level=player.leadership max=20 height=attrBarHeight hasAppeared=hasAppearedBars animate=animateBars numberSizeMobile="15px" }}
          <div class="player-ui-label player-ui-attr-label ellipses gap-md">{{t 'player.leadership'}}</div> 
          
          {{skill-bar level=player.experience max=20 height=attrBarHeight hasAppeared=hasAppearedBars animate=animateBars numberSizeMobile="15px" }}
          <div class="player-ui-label player-ui-attr-label ellipses">{{t 'player.experience'}}</div>
          
        </div>
        
      </div>
      
      <div class="player-ui-help-text">{{t 'player.traits-max'}}</div>
      
    </div>
    
  </div>
  
</div>


{{#if singleMode}}

  {{#if player.blurb}}
    
    <div class="divider gap-2-5x"></div>
    
    <div class="text-center">
      <div class="has-position player-ui-blurb">
        <i class="icon-quote-left icon-lg icon-vcenter"></i>
        {{nl2br player.blurb}}
        {{#if (owned-club player.club)}}{{#link-to 'players.player.manage.customise' player.id class="btn-a"}}<i class="icon-pencil"></i>{{/link-to}}{{/if}}
      </div>
    </div>
    
  {{/if}}
  
  <div class="divider gap-2-5x"></div>
  
  <div class="dash-box-negate-padding-half-bottom">
    <table class="table">
      
      <tbody>
        <tr>
          <td class="player-ui-label bigger">{{t 'player.salary'}}</td>
          <td>{{money-ui value=player.salary}}</td>
        </tr>
        <tr>
          <td class="player-ui-label bigger">{{t 'player.birthday'}}</td>
          <td>{{t 'player.birth-round-and-day' round=player.birthRound day=player.birthDay}}</td>
        </tr>
        <tr>
          <td class="player-ui-label bigger">{{t 'player.joined-club'}}</td>
          <td>{{date-ui date=player.joined initial=(if media.isMobile 'gameDateShort' 'gameDate') alt='fullDate'}}</td>
        </tr>
        <tr>
          <td class="player-ui-label bigger">{{t 'player.player-id'}}</td>
          <td>{{player.id}}</td>
        </tr>
      </tbody>
      
    </table>
    
  </div>
  
{{/if}}