{{#if transfer.deadlinePassed}}
  {{#if transfer.biddingClub}}
    {{message-ui type='warning' message=(t 'player.for-sale.auction-pending')}}
  {{else}}
    {{message-ui type='warning' message=(t 'player.for-sale.auction-closing')}}
  {{/if}}
{{else}}
  {{message-ui type='warning' showIf=(and transfer.linked (not (owned-club transfer.club))) message=(t 'player.for-sale.cannot-bid') help-ui='help.player.for-sale.cannot-bid'}}
{{/if}}

<div class="row gap-md">


  <div class="col-auto right-gap-lg">
    <label class="label">{{t 'player.for-sale.current-price'}}</label>
    <div class="large-number">{{money-ui value=transfer.price}}</div>
  </div>
  
  
  <div class="col-auto player-bid-buttons right-gap-md">
    {{#loader-button class="btn-big player-auction-refresh-button" clickAction=(action 'refreshAuction') }}
      <i class="icon-refresh icon-md"></i>
    {{/loader-button}}
  </div>
  
  
</div>


<div class="gap-2x">
  {{#if transfer.biddingClub.id}}
    <label class="label">{{t 'player.for-sale.offered-by'}}</label>
    {{club-link club=transfer.biddingClub class=""}}
  {{else}}
    {{t 'player.for-sale.no-bids-yet'}}.
  {{/if}}
</div>
  
  
<div class="gap-2x {{if (or (not session.isAuthenticated) (owned-club player.club) transfer.linked transfer.deadlinePassed) "hidden"}}">
  <button {{action 'openBid'}} class="btn btn-big">{{t 'player.for-sale.place-bid'}}</button>
</div>


{{#if (and canWithdraw (not transfer.deadlinePassed))}}
  <div class="gap-sm">
    {{#confirm-button class="btn-big" clickAction=(action 'withdrawPlayer') isOnScreen=isOnScreen fullWidth=false hideSiblingsOnConfirm='.withdraw-player-message' }}{{t 'player.for-sale.withdraw'}}{{/confirm-button}}
  </div>
  {{error-ui error=withdrawError}}
  <div class="gap-2x">
    {{t-t 'player.for-sale.withdraw-deadline'
      date=(component 'date-ui'
        date=withdrawDeadline
        initial="calendar"
        alt="fullDate"
        class="text-bold"
    )}}
  </div>
{{/if}}

{{#if (and (owned-club player.club) (not transfer.deadlinePassed))}}
  <label>{{t 'player.selling.fire-if-unsold'}}</label>
  <div class="gap-2x">
    {{blackout-toggle toggled=(readonly transfer.fireIfUnsold) onChange=(action 'updateFireIfUnsold')}}
  </div>
{{/if}}


<div class="gap-2x">
  <label class="label">{{t 'player.for-sale.deadline'}}</label>
  {{date-ui date=transfer.deadline initial="fullDateShort" alt="gameDate" class="color-bg-text"}}
</div>


<div>
  {{t 'language.plurals.view' count=transfer.views}}
  <span class="text-light">&bullet;</span>
  {{t 'language.plurals.manager-watching' count=transfer.watchers}}
</div>

  
{{#float-window showWindow=(mut showBiddingWindow)}}
  
  <h5 class="no-top-gap gap-2x">{{t 'player.for-sale.make-a-bid'}}</h5>
  
  <div class="gap-lg">
    {{t-t 'player.for-sale.bidding-as' club=(component 'club-link' inline=true)}}
  </div>
  
  {{blackout-form form=(readonly bidForm) model=bid onSave=(action "placeBid") onCancel=(action 'closeBid') confirm=true isOnScreen=showBiddingWindow submitLabel=(t 'player.for-sale.place-bid') }}
  
{{/float-window}}