

{{#responsive-table}}
<table class="">

  <thead>
    <tr>
      {{#if showNumbers}}
        <th class="standings-header-cell ">&nbsp;{{!t 'standings.club'}}</th>
      {{/if}}
      <th class="standings-header-cell ">&nbsp;{{!t 'standings.club'}}</th>
      <th class="standings-header-cell standings-center-cell">{{t 'standings.played'}}</th>
      <th class="standings-header-cell standings-center-cell">{{t 'standings.wins-(short)'}}</th>
      <th class="standings-header-cell standings-center-cell">{{t 'standings.losses-(short)'}}</th>
      <th class="standings-header-cell standings-center-cell">{{t 'standings.draws-(short)'}}</th>
      <th class="standings-header-cell standings-center-cell">{{t 'standings.for'}}</th>
      <th class="standings-header-cell standings-center-cell">{{t 'standings.against'}}</th>
      <th class="standings-header-cell standings-center-cell">{{t 'standings.bt-(try-bonus-points)'}}</th>
      <th class="standings-header-cell standings-center-cell">{{t 'standings.bl-(losing-bonus-points)'}}</th>
      <th class="standings-header-cell standings-center-cell">{{t 'standings.points'}}</th>
    </tr>
  </thead>
  
  <tbody>
    
    {{#each standings as |standing|}}
      <tr>
        {{#if showNumbers}}
          <td class="standings-cell standings-center-cell standings-standing">
            {{standing.standing}}
          </td>
        {{/if}}
        <td class="standings-cell right-pad-lg ellipsis">
          <span class="standings-club">
            {{club-link club=standing.club defaultColor='dark' placeholder='/assets/images/user/club-dark.png' clubNameClass=(concat "standings-club-name ellipsis" (unless standing.club.owner ' bot')) beforeName=(if (not-eq standing.penalty 0) '*') class="secondary go-primary" imageSize=(if media.isMobile 'small' 'medium')}}
          </span>
        </td>
        <td class="standings-cell standings-center-cell">
          {{standing.played}}
        </td>
        <td class="standings-cell standings-center-cell">
          {{standing.wins}}
        </td>
        <td class="standings-cell standings-center-cell">
          {{standing.losses}}
        </td>
        <td class="standings-cell standings-center-cell">
          {{standing.draws}}
        </td>
        <td class="standings-cell standings-center-cell">
          {{standing.pointsFor}}
        </td>
        <td class="standings-cell standings-center-cell">
          {{standing.pointsAgainst}}
        </td>
        <td class="standings-cell standings-center-cell">
          {{standing.bt}}
        </td>
        <td class="standings-cell standings-center-cell">
          {{standing.bl}}
        </td>
        <td class="standings-cell standings-center-cell">
          {{standing.totalPoints}}
        </td>
      </tr>
    {{/each}}
    
  </tbody>
  
</table>
{{/responsive-table}}

{{#if penaltyApplied}}
<div class="dash-content">
  <div class="row row-nowrap">
    <div class="col-12 text-right">
      <div class="standings-penalty-applied standings-glass-panel">{{t 'standings.penalty-applied'}}</div>
    </div>
  </div>
</div>
{{/if}}