

{{#responsive-table}}
<table class="allow-overflow">

  <thead>
    <tr>
      {{#if showNumbers}}
        <th class="standings-header-cell ">&nbsp;{{!t 'standings.club'}}</th>
      {{/if}}
      <th class="standings-header-cell ">&nbsp;{{!t 'standings.club'}}</th>
      {{#if changesExist}}
      <th class="standings-header-cell ">&nbsp;{{!t 'standings.club'}}</th>
      {{/if}}
      <th class="standings-header-cell standings-center-cell">{{substr (t 'standings.played') 0 1}}</th>
      <th class="standings-header-cell standings-center-cell">{{t 'standings.wins-(short)'}}</th>
      <th class="standings-header-cell standings-center-cell">{{t 'standings.losses-(short)'}}</th>
      <th class="standings-header-cell standings-center-cell">{{t 'standings.draws-(short)'}}</th>
      <th class="standings-header-cell standings-center-cell">{{t 'standings.for'}}</th>
      <th class="standings-header-cell standings-center-cell">{{t 'standings.against-(short)'}}</th>
      <th class="standings-header-cell standings-center-cell">{{t 'standings.points-diff'}}</th>
      <th class="standings-header-cell standings-center-cell">{{t 'standings.bt-(try-bonus-points)'}}</th>
      <th class="standings-header-cell standings-center-cell">{{t 'standings.bl-(losing-bonus-points)'}}</th>
      <th class="standings-header-cell standings-center-cell">{{t 'standings.points'}}</th>
    </tr>
  </thead>
  
  <tbody>
    
    {{#each standings as |standing index|}}
      <tr>
        {{#if showNumbers}}
          <td class="standings-cell standings-center-cell standings-standing">
            {{standing.standing}}
          </td>
        {{/if}}
        <td class="standings-cell standing-first-cell ellipsis has-position">
            <span id="standings-block-{{add index 1}}" class="standings-block pos-{{add index 1}}"></span>
            
            {{!#if showTethers}}
              {{!#ember-tether
                target=(concat '#standings-block-' (add index 1))
                targetAttachment='top right'
                attachment='top left'
              }}
              {{!/ember-tether}}
            {{!/if}}
            
          <span class="standings-club">
            {{club-link club=standing.club defaultColor='dark' placeholder='/assets/images/user/club-dark.png' clubNameClass=(concat "standings-club-name ellipsis" (unless standing.club.owner ' bot') (if changesExist " changes-exist")) beforeName=(if (not-eq standing.penalty 0) '*') class="secondary go-primary" imageSize=(if media.isMobile 'small' 'medium')}}
          </span>
        </td>
        {{#if changesExist}}
        <td class="standings-cell standings-center-cell">
          {{#if (gt standing.standingChange 0)}}
            <span class="standings-up nowrap">
              <i class="icon-up-dir"></i>{{standing.standingChange}}
            </span>
          {{else}}
            
            {{#if (lt standing.standingChange 0)}}
              <span class="standings-down nowrap">
                <i class="icon-down-dir"></i>{{standing.standingChangeAbs}}
              </span>
            {{else}}
              &nbsp;
            {{/if}}
            
          {{/if}}
        </td>
        {{/if}}
        <td class="standings-cell standings-center-cell">
          {{standing.played}}
        </td>
        <td class="standings-cell standings-center-cell">
          {{standing.wins}}
        </td>
        <td class="standings-cell standings-center-cell">
          {{standing.losses}}
        </td>
        <td class="standings-cell standings-center-cell">
          {{standing.draws}}
        </td>
        <td class="standings-cell standings-center-cell">
          {{standing.pointsFor}}
        </td>
        <td class="standings-cell standings-center-cell">
          {{standing.pointsAgainst}}
        </td>
        <td class="standings-cell standings-center-cell">
          {{standing.pointsMargin}}
        </td>
        <td class="standings-cell standings-center-cell">
          {{standing.bt}}
        </td>
        <td class="standings-cell standings-center-cell">
          {{standing.bl}}
        </td>
        <td class="standings-cell standings-total standings-center-cell">
          {{standing.totalPoints}}
        </td>
      </tr>
    {{/each}}
    
  </tbody>
  
</table>
{{/responsive-table}}

{{#if penaltyApplied}}
<div class="dash-content">
  <div class="row row-nowrap">
    <div class="col-12 text-right">
      <div class="standings-penalty-applied standings-glass-panel">{{t 'standings.penalty-applied'}}</div>
    </div>
  </div>
</div>
{{/if}}