<div class="settings-cog">
  <div class="standalone-bumper"></div>
  {{#fast-a action=(action 'togglePanel' 'settings') class="btn-a activatable"}}<i class="icon-cog" aria-label="Settings"></i>{{/fast-a}}
</div>

<div class="standalone-bumper"></div>

{{#if session.isAuthenticated}}
  
  
  <div class="row">
    
    <div class="col-max menu-manager-wrapper">
      {{#link-to 'account' class="btn-a dark-on-dark no-extra-hitarea "}}
        <div class="row row-nowrap">
          <div class="col-fixed">
            {{user-image type='manager' class='manager-avatar-menu' defaultColor='dark' isCurrentUserImage=true}}
          </div>
          <div class="col-flex">
            <div class="menu-manager-text row">
              <div class="col-max menu-manager-name ellipsis">
                {{session.data.manager.username}}
              </div>
            </div>
          </div>
        </div>
      {{/link-to}}
    </div>
    
    <div class="col-fixed menu-logout-wrapper">
      <a {{ action 'invalidateSession' }} class="menu-logout btn-a dark-on-dark"><i class="icon-logout icon-1-5x" aria-label="{{t 'buttons.logout'}}" title="{{t 'buttons.logout'}}"></i></a>
    </div>
  </div>
  
  
  <div class="text-center">
    {{club-link
      action=(action 'togglePanel' 'clubSwitcher')
      club=session.currentClub
      imageSize='medium-4x'
      defaultColor='dark'
      inline=true
      stacked=true
      fast=true
      isCurrentUserImage=true
      class="menu-club menu-club-text btn-a activatable"}}
  </div>
  
  
{{else}}
  
  <div class="menu-header-login">
    {{#link-to "login" class="btn btn-ghost white menu-login-buttons" tagName="button"}}Login{{/link-to}}
    
    {{#loader-button action="loginWithFacebook" class="btn btn-fb menu-fb-login-button menu-login-buttons" spinnerColor="fb"}}<i class="icon-facebook"></i>&nbsp;{{/loader-button}}
  </div>
  
{{/if}}

{{!#fast-button action="goAction"}Go{{/fast-button}}