<div class="settings-cog">
  <div class="standalone-bumper"></div>
<a {{action "toggleSettings"}} class="btn-a"><i class="icon-cog" aria-label="Settings"></i></a>
  
</div>

<div class="standalone-bumper"></div>

{{#if session.isAuthenticated}}
  
  
  <div class="row menu-manager">
    
    <div class="col-max menu-manager-wrapper">
      {{#link-to 'account' class="btn-a no-extra-hitarea "}}
        <div class="row row-nowrap">
          <div class="col-fixed">
            {{user-image type='manager' class='manager-avatar-menu' defaultColor='dark'}}
          </div>
          <div class="col-flex">
            <div class="menu-manager-text row">
              <div class="col-max menu-manager-name ellipses">
                {{session.data.manager.username}}
              </div>
            </div>
          </div>
        </div>
      {{/link-to}}
    </div>
    
    <div class="col-fixed menu-logout-wrapper">
      <a {{ action 'invalidateSession' }} class="menu-logout btn-a"><i class="icon-logout icon-1-5x" aria-label="{{t 'buttons.logout'}}" title="{{t 'buttons.logout'}}"></i></a>
    </div>
  </div>
  
  
  <div>
    {{user-image type='club' class='club-avatar-menu' defaultColor='dark'}}
    
    <div class="menu-club-text">
      {{currentClub.name}}
    </div>
  </div>
  
  
{{else}}
  
  <div class="menu-header-login">
    {{#link-to "login" class="btn btn-ghost white menu-login-buttons" tagName="button"}}Login{{/link-to}}
    
    {{#loader-button action="loginWithFacebook" class="btn btn-fb menu-fb-login-button menu-login-buttons" spinnerColor="fb"}}<i class="icon-facebook"></i>&nbsp;{{/loader-button}}
  </div>
  
{{/if}}

{{!#fast-button action="goAction"}Go{{/fast-button}}