{{back-button toAction=(action 'goBack') class="gap-md"}}

{{#each divisions as |division divisionIndex|}}
  
  <div id="standings-division-{{division.d}}">
  
    <div class="standings-title bigger">{{t 'league.division-number' division=division.d}}</div>
    
    {{#normal-scroll
      id=(concat "country-standings-div" "-" division.d )
      horizontal=true
      class=(concat 'page-header-padding negate' (unless (last divisionIndex divisions) ' gap-2x'))
    }}
      {{#infinite-scroll-horizontal
        content=division.ls
        defaultWidth=244
        bufferSize=1
        itemClass='country-standings-container col-fixed'
        itemId='country-standings-league-{{i}}'
        class="row row-nowrap gap-md"
        as |league leagueIndex|
      }}
      
        <div class="country-standings-league-title standings-glass-panel force-mobile {{if (eq fromLeague league.i) 'active'}}">
          {{#link-to 'leagues.league' league.i class=(concat "btn-a " (if (eq fromLeague league.i) 'white go-primary-on-primary' 'secondary go-primary') )}}
            {{t 'league.league-number' league=league.l}}
          {{/link-to}}
        </div>
        <table>
          <tbody>
            {{#each league.cs as |club index|}}
              {{#if club.b}}
                <tr>
                  <td class="country-standing">{{add index 1}}</td>
                  <td class="ellipsis {{if club.b 'bot'}}">
                    {{club.n}}
                  </td>
                </tr>
              {{else}}
                  <tr {{action 'goToClub' club.i}} class="btn-other btn-events white go-primary">
                    <td class="country-standing">{{add index 1}}</td>
                    <td class="ellipsis {{if club.b 'bot'}}">
                      {{club.n}}
                    </td>
                  </tr>
              {{/if}}
            {{/each}}
          </tbody>
        </table>
        
      {{/infinite-scroll-horizontal}}
    {{/normal-scroll}}
    
  </div>
  
{{/each}}