<div class="has-feedback {{if showError 'has-error'}}">

  {{#if (is 'money' type)}}
    
    {{blackout-money value=(readonly value) type=(readonly type) placeholder=(readonly placeholder) class=(concat inputClass ' form-control') id=(readonly inputId) autocomplete="off" onFocus=(action 'onFocus') onBlur=(action 'onBlur') key-up=(action 'onKeyUp') onChange=(action 'onChange')}}
    
  {{else}}
  
    {{#if (is 'checkbox' type)}}
    
      {{blackout-toggle toggled=(readonly value) onChange=(action 'onChange')}}
    
    {{else}}
    
      {{#if (is 'datetime' type)}}
      
        {{datetime-picker date=(readonly value) onChange=(action 'onChange') minDate=minDate maxDate=maxDate }}
      
      {{else}}
      
        {{#if (is 'select' type)}}
          
          {{#blackout-select
            id=(readonly inputId)
            classes=(concat inputClass ' form-control')
            selected=value
            onChange=(action 'onChange')
            onFocus=(action 'onFocus')
            onBlur=(action 'onBlur')
            options=options as |option|
          }}
          {{option.label}}
          {{/blackout-select}}
          
        {{else}}
        
          {{#if (is 'textarea' type)}}
            
            {{#blackout-fader showing=textareaIsShowing dontDisplayNone=true}}
              {{textarea value=(mut value) autoresize=true placeholder=(readonly placeholder) class=(concat inputClass ' form-control') id=(readonly inputId) autocomplete="off" focus-in=(action 'onFocus') focus-out=(action 'onBlur') key-up=(action 'onKeyUp') rows=1 disabled=disabled}}
            {{/blackout-fader}}
            
          {{else}}
            
            {{input value=(mut value) type=(readonly type) placeholder=(readonly placeholder) class=(concat inputClass ' form-control') id=(readonly inputId) autocomplete="off" focus-in=(action 'onFocus') focus-out=(action 'onBlur') key-up=(action 'onKeyUp') disabled=disabled}}
          
          {{/if}}
          
        {{/if}}
      
      {{/if}}
    
    {{/if}}
  
  {{/if}}
  
  {{#if showError}}
  
    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
  
    <span class="control-label">{{error}}</span>
  
  {{/if}}

</div>