{{#blackout-collection
  content=rounds
  defaultSize=236
  bufferSize=1.0
  itemClass=""
  class=""
  isHorizontal=false
  as |round index|
}}
    
  <h5 class="on-dark heading-font {{if (eq index 0) 'no-top-gap'}} dash-content sides-only">
    {{#if round.competition}}
      {{t round.competitionT}}
    {{else}}
      {{t 'date.round-x' round=round.round}}
    {{/if}}
  </h5>
  
  <table>
    <tbody>
      {{#each round.fixtures as |fixture|}}
        <tr>
          <td>
            {{fixture-link fixture=fixture class="btn-a secondary go-primary"}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  
{{/blackout-collection}}