{{page-header title=model.title images="rugby" route=model.title height="22vh" image=model.img }}


<div class="row">
  <div class="col-md-8 col-lg-8 dash-box-container">
    <div class="dash-box">
            
      {{back-button default="dashboard" class="gap-md"}}
      
      <article>
        
        <div class="news-date gap-2x">
          {{date-ui date=model.date class="news-date"}}
          {{#if model.author}}
            by {{manager model.author}}
          {{/if}}
          {{#if model.country}}
            in 
            {{country model.country class="nowrap"}}
          {{/if}}
        </div>
        
        {{#if model.img}}
          
          {{fade-img url=model.img class="gap-3x"}}
        
        {{/if}}
        
        {{mark-down markdown=model.body }}
        
      </article>
      
    </div>
    
    
    <div class="dash-box">
      <h4 class="top">Comments</h4>
      
      <p>Coming soon.</p>
    </div>
    
  </div>
</div>