{{top-level images="dash"}}
{{page-header title=model.title}}


<div class="row">
  <div class="col-md-8 col-lg-8 dash-box-container">
    <div class="dash-box">
            
      {{back-button default="dashboard" class="gap-md"}}
      
      <article>
        
        <div class="news-date gap-2x">
          {{date-ui date=model.date class="news-date"}}
          {{#if model.author}}
            {{t 'dashboard.news.by-manager' manager=(manager model.author)}}
          {{/if}}
          {{#if model.country}}
            {{t 'dashboard.news.in-country' country=(country model.country class="nowrap")}}
          {{/if}}
        </div>
        
        {{#if model.img}}
          
          {{fade-img url=model.img class="gap-3x"}}
        
        {{/if}}
        
        {{mark-down markdown=(readonly model.body) }}
        
      </article>
      
    </div>
    
    
    <div class="dash-box">
      <h4 class="top">{{t 'comments.title'}}</h4>
      
      <p>{{t 'comments.coming-soon'}}</p>
    </div>
    
  </div>
</div>