{{page-header title=model.title images="rugby" route=model.title height="22vh" image=model.img }}


<div class="row">
  <div class="col-md-8 col-lg-8 dash-box-container">
    <div class="dash-box">
            
      {{back-button default="dashboard" class="gap-md"}}
      
      <article>
        
        <div class="news-date gap-2x">
          {{date-ui date=model.date class="news-date"}}
          {{#if model.author}}
            by 
            {{#link-to "managers.manager" model.author.id class="nowrap"}}{{model.author.username}}{{/link-to}}
          {{/if}}
          {{#if model.country}}
            in 
            {{#link-to "countries.country" model.country.id class="nowrap"}}{{model.country.name}}{{/link-to}}
          {{/if}}
        </div>
        
        {{#if model.img}}
          
          {{fade-img url=model.img}}
        
        {{/if}}
        
        {{mark-down markdown=model.body }}
        
      </article>
      
    </div>
  </div>
</div>