{{#each lazyList as |itemIndex|}}
  
  {{way-point action="waypointDown" offset=waypointDownOffset itemId=(concat 'list-item-' token '-' itemIndex) contextElementId=scrollContextId index=itemIndex}}
  {{way-point action="waypointUp" offset=waypointUpOffset itemId=(concat 'list-item-' token '-' itemIndex) contextElementId=scrollContextId index=itemIndex}}
  
  <div class="{{compare itemIndex ">" showFirst hideClass ""}} make3d {{itemClass}}" id="list-item-{{token}}-{{itemIndex}}">
    
    {{yield (geti list itemIndex)}}
    
  </div>
  
{{/each}}