<h3>My Account</h3>

{{#if session.isAuthenticated}}
  <div class="alert alert-info">
    You are currently authenticated as <em>"{{model.realname}}"</em> (login <code>{{model.username}}</code>)
  </div>
{{else}}
  <div class="alert alert-info">
    You are not logged in.
  </div>
{{/if}}

<table class="table table-hover">
  <thead>
    <tr>
      <th>Username</th>
      <th>Real Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{model.username}}</td>
      <td>{{model.realname}}</td>
      <td>{{model.email}}</td>
    </tr>
  </tbody>
</table>

{{#if session.isAuthenticated}}
  <a {{ action 'invalidateSession' }}>Logout</a>
{{else}}
  {{#link-to 'login'}}Login{{/link-to}}
{{/if}}