<h3>Login</h3>

<div {{bind-attr class="loginErrorMessage::hidden"}}>
  <div class="alert alert-warning alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>{{loginErrorMessage}}</strong>
  </div>
</div>

<form {{action "submit" on='submit'}}>

  <div class="form-group">
    {{validated-input type="text" placeholder="Username" value=identification errors=errors.identification }}
  </div>

  <div class="form-group">
    {{input type="password" placeholder="Password" value=password class="form-control" }}
    {{errors.password}}
  </div>

  <div class="form-group">
    <button {{action "submit"}} class="btn btn-default">Login</button>
  </div>

</form>