{{#if inline}}
  
  {{#if stacked}}
    
    <div class="inline-block">
      <div class="text-center">
        {{user-image defaultColor=defaultColor url=club.logo size=imageSize placeholderUrl=placeholder shadow=shadow editable=editable hideEditText=hideEditText onSave=onSaveClubImage}}
      </div>
      <div>
        <span class="{{clubNameClass}}">{{beforeName}}{{if text text club.name}}{{afterName}}</span>
      </div>
    </div>
    
  {{else}}
    
    <span class="nowrap">
    
      {{#unless imageOnRight}}
        {{user-image defaultColor=defaultColor url=club.logo size='small' class="club-avatar-inline no-right-gap left-gap-xs" placeholderUrl=placeholder shadow=shadow editable=editable onSave=onSaveClubImage hideEditText=hideEditText}}
      {{/unless}}
      
      <span class="btn-a-hover {{clubNameClass}}">{{beforeName}}{{if text text club.name}}{{afterName}}</span>
      
      {{#if imageOnRight}}
        {{user-image defaultColor=defaultColor url=club.logo size='small' class="club-avatar-inline no-right-gap left-gap-xs" placeholderUrl=placeholder shadow=shadow editable=editable onSave=onSaveClubImage hideEditText=hideEditText}}
      {{/if}}
      
    </span>
    
  {{/if}}
  
{{else}}
    
  <div class="{{unless stacked "row row-nowrap"}}">
  
    {{#unless imageOnRight}}
      <div class="{{unless stacked "col-auto right-gap-md"}} text-center">
        {{user-image defaultColor=defaultColor url=club.logo size=imageSize placeholderUrl=placeholder shadow=shadow editable=editable onSave=onSaveClubImage hideEditText=hideEditText}}
      </div>
    {{/unless}}
    
    <div class="{{unless stacked "col-auto vc-parent"}}">
      <span class="{{clubNameClass}}">{{beforeName}}{{if text text club.name}}{{afterName}}</span>
    </div>
      
    {{#if imageOnRight}}
      <div class="{{unless stacked "col-auto left-gap-md"}} text-center">
        {{user-image defaultColor=defaultColor url=club.logo size=imageSize placeholderUrl=placeholder shadow=shadow editable=editable onSave=onSaveClubImage hideEditText=hideEditText}}
      </div>
    {{/if}}
    
  </div>
  
{{/if}}