<form>
  
  {{#each computedForm as |item index|}}
    
    {{#if (is 'link' item.type)}}
      
      <div class="gap-md">
        <a {{action 'toggleItem' item.id}}>{{item.label}}</a>
      </div>
      
    {{else}}
        
      {{! For hiding some form inputs based on the value of others }}
      {{#blackout-fader
      debugFader=debugFader
        showing=
        (compare
        
          (and
            (compare item.visibleOnKey 'typeof' 'null')
            (compare item.showOnLink 'typeof' 'null')
          ) '===' true
          
          true
          
          (compare item.visibleOnKey 'typeof' 'string'
          
            (compare (get model item.visibleOnKey) '===' item.visibleOnKeyValue)
            
            (compare item.showOnLink 'typeof' 'string'
            
              (compare (get linksShowing item.showOnLink) '===' true)
              
            )
          )
        )
        
        active=(or item.visibleOnKey item.showOnLink)
        
        class="gap-3x blackout-form-item" }}
        
        <div>
          <label for="{{item.id}}">{{item.label}}</label>
        </div>
          
        {{#premium-ui messageT=item.isPremium featureName=item.premiumFeatureName active=item.isPremium classIfHidden="gap-md"}}
          
          <div>
            
            {{#if (is 'moneyDisplay' item.type)}}
              
              <div class="blackout-form-display-text{{if item.isWarning " blackout-form-warning"}}{{if item.isError " blackout-form-error"}}">
                {{money-ui value=(get model item.valuePath) }}
              </div>
            
            {{else}}
              
              {{! This is a date DISPLAY only }}
              {{#if (is 'dateDisplay' item.type)}}
              
                {{date-ui date=(get model item.valuePath) initial='fullDateShort' alt='gameDate' class=(concat "color-bg-text" (if item.isWarning " warning") (if item.isError " error")) }}
              
              {{else}}
                
                {{#if (is 'radio' item.type)}}
                  
                  {{#each item.options as |option|}}
                    
                    {{! So that we can edit the model in the sub-component }}
                    {{#if item.valuePath}}
                      
                      {{#blackout-radio
                          value=option.value
                          model=model
                          valuePath=item.valuePath
                          changed=(action item.onChanged)}}
                          {{option.label}}
                      {{/blackout-radio}}
                      
                    {{else}}
                      
                      {{#blackout-radio
                          value=option.value
                          groupValue=(if item.valuePath (get model item.valuePath) item.value)
                          changed=(action item.onChanged)}}
                          {{option.label}}
                      {{/blackout-radio}}
                      
                    {{/if}}
                    
                  {{/each}}
                  
                {{else}}
                  
                  {{! So that we can edit the model in the sub-component }}
                  {{#if item.valuePath}}
                    
                    {{validated-input type=item.type inputId=item.id placeholder=item.placeholder model=model valuePath=item.valuePath serverError=(get (get serverErrors item.id) 'title') hasValidated=hasValidated inputClass="" onChanged=(readonly item.onChanged) options=item.options minDate=item.minDate maxDate=item.maxDate }}
                    
                  {{else}}
                    
                    {{validated-input type=item.type inputId=item.id placeholder=item.placeholder value=item.value serverError=(get (get serverErrors item.id) 'title') hasValidated=hasValidated inputClass="" onChanged=(readonly item.onChanged) options=item.options minDate=item.minDate maxDate=item.maxDate }}
                    
                  {{/if}}
                  
                {{/if}}
                
              {{/if}}
              
            {{/if}}
            
            {{#if item.helper}}
              <div class="blackout-form-helper">{{item.helper}}</div>
            {{/if}}
          
          </div>
      
        {{/premium-ui}}
          
      {{/blackout-fader}}
      
    {{/if}}
  
  {{/each}}
  
  {{#blackout-fader showing=serverError active=true class="gap-lg blackout-form-server-error"}}
    <div class="has-error">
      <span class="control-label">{{serverError}}</span>
    </div>
  {{/blackout-fader}}
  
  {{#if confirm}}
  
    {{#confirm-button class="btn-big btn-right-gap" clickAction=(action 'onSave') isOnScreen=isOnScreen fullWidth=false hideSiblingsOnConfirm='.blackout-cancel-button' }}{{if submitLabel submitLabel (t 'buttons.save-changes')}}{{/confirm-button}}
  
  {{else}}
  
    {{#loader-button class="btn btn-big btn-right-gap" clickAction=(action 'onSave')}}{{if submitLabel submitLabel (t 'buttons.save-changes')}}{{/loader-button}}
  
  {{/if}}
  
  <button {{action 'onCancel'}} class="blackout-cancel-button btn btn-big btn-ghost">{{if useCloseButton (t 'buttons.close') (t 'buttons.cancel')}}</button>
  
</form>
