<form>
  
  <div class="{{if serverError "gap-lg" "gap-2-5x"}}">
  
    {{#each computedForm as |item index|}}
        
      {{! For hiding some form inputs based on the value of others }}
      {{#blackout-fader showing=(compare item.visibleOnKey 'typeof' 'null' true (compare (get model item.visibleOnKey) '===' item.visibleOnKeyValue)) active=item.visibleOnKey class="gap-lg blackout-form-item" }}
        
        <div>
          <label for="{{item.id}}">{{item.label}}</label>
        </div>
        
        <div>
          
          {{#if (compare item.type '===' 'radio')}}
            
            {{#each item.options as |option|}}
              
              {{! So that we can edit the model in the sub-component }}
              {{#if item.valuePath}}
                
                {{#blackout-radio
                    value=option.value
                    model=model
                    valuePath=item.valuePath
                    changed=(action item.onChanged)}}
                    {{option.label}}
                {{/blackout-radio}}
                
              {{else}}
                
                {{#blackout-radio
                    value=option.value
                    groupValue=(if item.valuePath (get model item.valuePath) item.value)
                    changed=(action item.onChanged)}}
                    {{option.label}}
                {{/blackout-radio}}
                
              {{/if}}
              
            {{/each}}
            
          {{else}}
            
            {{! So that we can edit the model in the sub-component }}
            {{#if item.valuePath}}
              
              {{validated-input type=item.type inputId=item.id placeholder=item.placeholder model=model valuePath=item.valuePath serverError=item.serverError hasValidated=hasValidated inputClass="" onChanged=(readonly item.onChanged) }}
              
            {{else}}
              
              {{validated-input type=item.type inputId=item.id placeholder=item.placeholder value=item.value serverError=item.serverError hasValidated=hasValidated inputClass="" onChanged=(readonly item.onChanged) }}
              
            {{/if}}
            
          {{/if}}
          
          {{#if item.helper}}
            <div class="blackout-form-helper">{{item.helper}}</div>
          {{/if}}
        
        </div>
          
      {{/blackout-fader}}
    
    {{/each}}
    
  </div>
  
  {{#if serverError}}
    <div class="has-error gap-md">
      <span class="control-label">{{serverError}}</span>
    </div>
  {{/if}}
  
  {{#loader-button class="btn btn-big btn-right-gap" clickAction=(action 'onSave')}}{{t 'buttons.save-changes'}}{{/loader-button}}
  <button {{action 'onCancel'}} class="blackout-cancel-button btn btn-big btn-ghost">{{if useCloseButton (t 'buttons.close') (t 'buttons.cancel')}}</button>
  
</form>
