
{{#if singleMode}}
  
  <div class="{{if flatTitleMode 'center-parent-md top-gap-md'}} has-position dash-header">
    
    {{#link-to 'squad.club' player.club.id class="player-ui-back btn-a on-dark"}}<i class="icon-team icon-lg icon-vcenter gap-sm"></i>{{#if (not media.isMobile)}} {{t 'squad.title'}}{{/if}}{{/link-to}}
    {{player-ui/nav-button class="left" squad=squad currentPlayer=player}}
    {{player-ui/nav-button class="right" squad=squad currentPlayer=player}}
    
    <div class="row row-flex">
      <div class="col-xs-12 {{if flatTitleMode 'col-flex-md pad-right-md'}}  center-parent">
        <div class="player-avatar player-avatar-single"></div>
      </div>
      
      <div class="gap-sm {{if flatTitleMode 'hidden-md-up'}} divider"></div>
      
      <div class="col-xs-12 {{if flatTitleMode 'col-flex-md pad-right-md'}} center-parent">
        <h2 class="player-ui-title-single reset-box text-center">
          {{#if player.nickname}}
            
            {{player.firstName}}<br>
            
            <span class="player-ui-nickname nowrap">&quot;{{player.nickname}}&quot;{{#if (owned-club player.club)}}{{#link-to 'players.player.manage.customise' player.id class="btn-a on-dark"}}<i class="icon-pencil"></i>{{/link-to}}{{/if}}</span><br>
            
            {{player.lastName}}
            
          {{else}}
            {{player.name}}
          {{/if}}
        </h2>
        
      </div>
    </div>
    
  </div>
  
  <div class="divider gap-md hidden-sm-up"></div>
  <div class="divider gap-md hidden-xs"></div>

{{/if}}
    
{{#if singleMode}}
  
  {{#dash-tabs class="no-gap show-overflow" onTabChange=(action 'tabChanged') tabGroup="player" resetOn=(readonly player) as |tabs|}}
    
    {{#tabs.list as |list|}}
      
      {{list.tab tab="player-info-panel" name-t="player.player" icon-class="icon-user icon-lg"}}
      
      {{list.tab tab="player-sale-panel" name-t="buttons.for-sale" icon-class="icon-tag icon-lg" class="player-ui-sale-tab" hide=(not player.transfer)}}
      
      {{list.tab tab="player-statistics-panel" name-t="buttons.statistics" icon-class="icon-chart-bar icon-lg"}}
      
      {{list.tab tab="player-history-panel" name-t="buttons.history" icon-class="icon-history icon-lg"}}
      
      {{list.tab tab="player-manage-panel" name-t="buttons.manage" icon-class="icon-wrench icon-lg tab-icon-straight" hide=(not playerIsOwned)}}
      
    {{/tabs.list}}
      
    {{#tabs.content as |content|}}
    
      
      {{#content.tab id="player-info-panel"}}
        {{player-ui/player-info player=player singleMode=singleMode isOnScreen=(is selectedTab 'player-info-panel')}}
      {{/content.tab}}
      
      
      {{#content.tab id="player-sale-panel" noPadding=true}}
        {{player-ui/player-sale player=player transfer=player.transfer isOnScreen=(is selectedTab 'player-sale-panel')}}
      {{/content.tab}}
      
      
      {{#content.tab id="player-statistics-panel" noPadding=true}}
        {{player-ui/player-stats selectedTab=selectedTab isOnScreen=(is 'player-statistics-panel' selectedTab) player=player}}
      {{/content.tab}}
      
      
      {{#content.tab id="player-history-panel"}}
        {{player-ui/player-history history=history player=player}}
      {{/content.tab}}
      
      
      {{#content.tab id="player-manage-panel" noPadding=true}}
        {{player-ui/player-manage player=player isOnScreen=(is 'player-manage-panel' selectedTab)}}
      {{/content.tab}}
      
    {{/tabs.content}}
    
  {{/dash-tabs}}

{{else}}

  <div class="dash-box dash-box-no-padding no-gap hide-overflow player-ui-squad-box border-radius-fix">
    
    <div class="player-ui-title-wrapper">
      
      {{#link-to 'players.player' player.id class="player-ui-title-link a-no-underline btn-events"}}
        <div class="player-ui-title-panel">
          <h2 class="player-ui-title vc-parent">
            {{#if media.isMobile}}
            
              <span class="ellipses">
              
                {{player.firstName}}<br>
              
                {{#if player.nickname}}
                  
                  <span class="player-ui-nickname">"{{player.nickname}}"</span><br>
                  
                {{/if}}
                
                {{player.lastName}}
              
              </span>
              
            {{else}}
              
              <span class="ellipses">
                {{#if player.nickname}}
                  
                  {{player.firstName}}<br>
                  
                  <span class="player-ui-nickname">"{{player.nickname}}"</span><br>
                  
                  {{player.lastName}}
                  
                {{else}}
                  {{player.name}}
                {{/if}}
              </span>
              
            {{/if}}
          </h2>
        </div>
        <div class="player-ui-avatar-wrapper">
          <div class="player-avatar-light player-avatar-ui"></div>
        </div>
      {{/link-to}}
      
      {{#if player.transfer}}
        {{#link-to 'players.player.sale' player.id class="player-ui-for-sale a-no-underline btn-events"}}
          <i class="icon-tag icon-md"></i>
        {{/link-to}}
      {{/if}}
      
    </div>
    
    <div class="dash-box-padding">
      {{player-ui/player-info player=player singleMode=singleMode }}
    </div>
    
  </div>
  
{{/if}}