
{{#if singleMode}}
  
  <div class="{{if flatTitleMode 'center-parent-md top-gap-md'}} has-position">
    
    {{back-button to='squad.club' toId='me' class="player-ui-back"}}
    {{player-ui/nav-button class="left" squad=squad currentPlayer=player}}
    {{player-ui/nav-button class="right" squad=squad currentPlayer=player}}
    
    <div class="row row-flex">
      <div class="col-xs-12 {{if flatTitleMode 'col-flex-md pad-right-md'}}  center-parent">
        <div class="player-avatar player-avatar-single"></div>
      </div>
      
      <div class="gap-sm {{if flatTitleMode 'hidden-md-up'}} divider"></div>
      
      <div class="col-xs-12 {{if flatTitleMode 'col-flex-md pad-right-md'}} center-parent">
        <h2 class="player-ui-title-single no-wrap reset-box ellipses">{{player.name}}</h2>
        {{flag-icon country=player.nationality size=(if media.isMobile 'medium' 'big')}}
        {{flag-icon country=player.dualNationality size=(if media.isMobile 'medium' 'big')}}
      </div>
    </div>
    <div class="row row-flex row-center">
      {{club-link club=player.club class="player-ui-club on-dark"}}
    </div>
    
  </div>
  
  <div class="divider gap-md hidden-sm-up"></div>
  <div class="divider gap-2x hidden-xs"></div>

{{/if}}
    
{{#if singleMode}}
  
  {{#dash-tabs class="no-gap show-overflow" onTabChange=(action 'tabChanged') tabGroup="player" }}
    
    <div id="player-infoPanel" data-tab-t="player.player" data-tab-icon-class="icon-user icon-lg">
    
      {{player-ui/player-info player=player singleMode=singleMode selectedTab=selectedTab waitForTab='player-infoPanel'}}
      
    </div>

    <div id="player-statisticsPanel" data-tab-t="buttons.statistics" data-tab-icon-class="icon-chart-bar icon-lg" data-tab-no-padding="true">
      
      {{player-ui/player-stats selectedTab=selectedTab waitForTab='player-statisticsPanel' stats=stats player=player}}
      
    </div>

    <div id="player-historyPanel" data-tab-t="buttons.history" data-tab-icon-class="icon-history icon-lg">
      
      {{player-ui/player-history history=history player=player}}
      
    </div>
    
  {{/dash-tabs}}

{{else}}

  <div class="dash-box no-gap show-overflow">
    
    <div class="player-ui-title-panel"><h2 class="player-ui-title">{{player.name}}</h2></div><div class="player-avatar player-avatar-ui"></div>

    {{player-ui/player-info player=player singleMode=singleMode}}
    
  </div>
  
{{/if}}