{{#vertical-collection
  tagName=verticalCollectionTag
  content=contentProxy
  defaultHeight=defaultHeight
  alwaysUseDefaultHeight=false
  useContentProxy=false
  lastReached=lastReached
  bufferSize=bufferSize
  containerSelector=scrollerSelectorProp
  as |item index|
}}

  {{#if itemClass}}

    {{! Be sure not to add margins to this div}}
    <div class="clearfix">
      <div class="{{itemClass}}">
        {{yield item index}}
      </div>
    </div>
    
  {{else}}

    {{! Be sure not to add margins to this div}}
    <div class="clearfix">
      {{yield item index}}
    </div>
    
  {{/if}}
  
{{/vertical-collection}}

{{#if isLoadingData}}
  <div class="loader-padding">
    {{loading-spinner class="gap-2x" color="light"}}
  </div>
{{/if}}
