<div class="login-container center vf-child">
  
  {{#sticky-footer widthOnly='xs'}}
    
    <div class="dark">
      
      <div class="login-back-container gap-md">
        {{back-button to="index"}}
      </div>
      
      <div class="login-logo-container gap-2x">
        <i class="icon-logo"></i>
      </div>

      <div class={{if formErrorMessage '' 'hidden'}}>
        <div class="alert alert-danger alert-minimal" role="alert">
          {{formErrorMessage}}
        </div>
      </div>

      <form>
        
        <div class="has-feedback dark form-group">
          
          {{validated-input type="text" inputId="username" placeholder=(t 'login.username') model=model valuePath='username' serverError=serverErrors.username hasValidated=hasValidated inputClass="dark login-boxes" }}
          
          <i class="icon-user login-icons"></i>
          
        </div>
        
        <div class="has-feedback dark form-group">
          
          {{validated-input type="password" inputId="password" placeholder=(t 'login.password') model=model valuePath='password' serverError=serverErrors.password hasValidated=hasValidated inputClass="dark login-boxes" }}
          
          <i class="icon-key login-icons key-icon"></i>
          
        </div>

        <div class="form-group gap-5x">
        
          {{#loader-button action="submit" class="btn btn-block btn-big login-button gap-sm"}}{{t 'buttons.login'}}{{/loader-button}}
          
          {{#loader-button action="loginWithFacebook" class="btn btn-fb btn-block btn-big fb-login-button" spinnerColor="fb"}}<i class="icon-facebook"></i>&nbsp;{{/loader-button}}
          
        </div>
        
      </form>
      
    </div>
    
    <div class="sticky-footer">
      
      <div class="login-link-container dark colored-links">
        <div class="row">
          
          <div class="col-xs-6 text-left">
            {{#link-to "index"}}{{t 'login.forgot-password'}}{{/link-to}}
          </div>
          
          <div class="col-xs-6 text-right">
            {{t 'login.no-account'}} {{#link-to "index"}}{{t 'buttons.signup'}}{{/link-to}}
          </div>
          
        </div>
      </div>
      
    </div>
    
  {{/sticky-footer}}
  
</div>