
<div id="nav-body">
  <div id="nav-body-inner">
    {{yield}}
    <div id="tabbar-balloon" class="hidden-sm-up"></div>
    <div id="foot-bumper"></div>
  </div>
</div>

<div id="nav-topbar" class="nav-topbar hidden">
  {{!<i class="icon-logo nav-topbar-logo"></i>}}
  <div id="nav-topbar-content">
    {{#link-to "index"}}<img src="assets/images/global/flat-logo.svg" aria-label={{t 'home-page.logo'}} class="svg nav-topbar-logo">{{/link-to}}
  </div>
</div>

<div id="nav-touch-blocker"></div>

<div id="nav-panel" class="dark">
  
  <div class="row row-nowrap fill">
    <div class="col-fixed" id="nav-panel-spacer"></div>
    <div class="col-flex row">
      
      <div id="sidebar-scroller-parent" style="position:relative;">
        
        {{#component (if usePerfectScroll 'perfect-scroll' 'normal-scroll') id="sidebar-scroller" class="perfect-scrollbar always-visible" allowBodyScrollEvent="navAllowBodyScroll" wheelSpeed=2 suppressScrollX=true}}
        
        {{!#normal-scroll id="sidebar-scroller"}}
          
          <div class="full-height row row-vertical">
            
            <div class="col-flex gap-2x">
            {{#side-switcher direction=tabSwitcherDirection currentlyShowing=tabSwitcherSelected class="col-flex" switchCallback=scrollMenuBackToTop afterSwitchCallback=updateMenuScrollArea }}
                  
              <div id="gameNav-menuPanel" class="tab-panel">
                
                {{menu-header settingsPanelIsShowing=(readonly settingsPanelIsShowing) onToggle=(action 'toggleSettingsPanel')}}
                
                {{#side-switcher direction=menuSwitcherDirection currentlyShowing=menuSwitcherSelected switchCallback=scrollMenuBackToTop afterSwitchCallback=updateMenuScrollArea }}
                  
                  <div id="gameNav-managerPanel" class="menu-panel">
                    {{#unless session.isAuthenticated}}
                      {{#scroll-to href='/#home' class="btn-a menu-link scroll-link-home" closeMenu=closeMenuOnScrollTo }}{{t 'buttons.home'}}{{/scroll-to}}
                      {{#scroll-to href='/#about' class="btn-a menu-link scroll-link-about" closeMenu=closeMenuOnScrollTo}}{{t 'buttons.about'}}{{/scroll-to}}
                      {{#scroll-to href='/#numbers' class="btn-a menu-link scroll-link-numbers" closeMenu=closeMenuOnScrollTo}}{{t 'buttons.statistics'}}{{/scroll-to}}
                      {{#scroll-to href='/#contact' class="btn-a menu-link scroll-link-contact" closeMenu=closeMenuOnScrollTo}}{{t 'buttons.contact'}}{{/scroll-to}}
                    {{/unless}}
                    <div class="menu-links"></div>
                    {{!scroll-tester}}
                  </div>
                  
                  <div id="gameNav-clubPanel" class="menu-panel">
                    <div class="menu-links"></div>
                  </div>
                  
                  <div id="gameNav-teamPanel" class="menu-panel">
                    <div class="menu-links"></div>
                  </div>
                  
                  <div id="gameNav-countryPanel" class="menu-panel">
                    <div class="menu-links"></div>
                  </div>
                  
                  <div id="gameNav-globalPanel" class="menu-panel">
                    <div class="menu-links"></div>
                  </div>
                  
                  <div id="gameNav-supportPanel" class="menu-panel">
                    <div class="menu-links"></div>
                  </div>
                  
                  <div id="gameNav-settingsPanel" class="menu-panel">
                  
                    {{settings-panel}}
                    
                  </div>
                  
                {{/side-switcher}}
                
              </div>
              
              <div id="gameNav-chatPanel" class="tab-panel">
                <div class="tab-panel-header">
                  <h4>{{t 'chat.title'}}</h4>
                  <h5>{{t 'coming-soon.title'}}</h5>
                </div>
              </div>
              
              <div id="gameNav-timelinePanel" class="tab-panel">
                <div class="tab-panel-header">
                  <h4>{{t 'timeline.title'}}</h4>
                  <h5>{{t 'coming-soon.title'}}</h5>
                </div>
              </div>
              
              <div id="gameNav-alertsPanel" class="tab-panel">
                <div class="tab-panel-header">
                  <h4>{{t 'alerts.title'}}</h4>
                  <h5>{{t 'coming-soon.title'}}</h5>
                </div>
              </div>
              
              <div id="gameNav-infoPanel" class="tab-panel">
                <div class="tab-panel-header">
                  <h4>{{t 'info.title'}}</h4>
                  <h5>{{t 'coming-soon.title'}}</h5>
                </div>
              </div>
              
            {{/side-switcher}}
            </div>
            
            
            <div class="col-fixed row hidden-xxs">
              <div class="col-xs-12 gap-md text-center">
              
                <span>{{#facebook-link class="social-buttons facebook-button no-extra-hitarea"}}<i class="icon-facebook icon-lg"></i>{{/facebook-link}}</span>
        
                <span>{{#twitter-link class="social-buttons twitter-button no-extra-hitarea"}}<i class="icon-twitter icon-lg"></i>{{/twitter-link}}</span>
                
              </div>
            </div>
            
          </div>
          
        {{!/perfect-scroll}}
        {{/component}}
        
      </div>
      
    </div>
  </div>
  
</div>

<div id="nav-sidebar-and-tabs" class="row-sm row-vertical-sm">

  <div id="nav-sidebar" class="col-sm-7 col-md-7 row row-vertical">
    
    <div class="col-fixed sidebar-logo-wrapper">
      <div class="standalone-bumper"></div>
      {{#link-to "index" class="btn-a no-extra-hitarea"}}<i class="icon-logo icon-3x sidebar-logo" aria-label={{t 'home-page.logo'}}></i>{{/link-to}}
      
      <div class="row hidden-sm-up">
        <div class="col-xs-6 text-center">
        
          <span>{{#facebook-link class="social-buttons sidebar-social-buttons facebook-button no-extra-hitarea"}}<i class="icon-facebook icon-lg"></i>{{/facebook-link}}</span>
          
        </div>
        <div class="col-xs-6 text-center">
        
          <span>{{#twitter-link class="social-buttons sidebar-social-buttons twitter-button no-extra-hitarea"}}<i class="icon-twitter icon-lg"></i>{{/twitter-link}}</span>
          
        </div>
      </div>
    </div>
    
    
    <div id="nav-menu" class="col-flex col-center-sm row row-vertical row-end-xs row-center-sm">
      
      <div class="nav-tab">
        {{#fast-button action="clickMenu" menuName="manager" class="btn nav-menu-btn nav-menu-manager"}}
          <div class="flex-col flex-col-center">
            <div class="nav-icon-wrapper">
              <i class="{{if session.isAuthenticated "icon-user" "icon-logo"}} nav-tab-icon icon-vcenter"></i>
            </div>
            <div class="nav-tab-text ellipses nav-menu-text">{{if session.isAuthenticated (t 'menu.manager.title') (t 'buttons.home')}}</div>
          </div>
        {{/fast-button}}
      </div>
      
      <div class="nav-tab">
        {{#fast-button action="clickMenu" menuName="club" class="btn nav-menu-btn nav-menu-club"}}
          <div class="flex-col flex-col-center">
            <div class="nav-icon-wrapper">
              <i class="icon-home nav-tab-icon icon-vcenter"></i>
            </div>
            <div class="nav-tab-text ellipses nav-menu-text">{{t 'menu.club.title'}}</div>
          </div>
        {{/fast-button}}
      </div>
      
      <div class="nav-tab">
        {{#fast-button action="clickMenu" menuName="team" class="btn nav-menu-btn nav-menu-team"}}
          <div class="flex-col flex-col-center">
            <div class="nav-icon-wrapper">
              <i class="icon-team nav-tab-icon icon-vcenter"></i>
            </div>
            <div class="nav-tab-text ellipses nav-menu-text">{{t 'menu.team.title'}}</div>
          </div>
        {{/fast-button}}
      </div>
      
      <div class="nav-tab">
        {{#fast-button action="clickMenu" menuName="country" class="btn nav-menu-btn nav-menu-country"}}
          <div class="flex-col flex-col-center">
            <div class="nav-icon-wrapper">
              <i class="icon-flag-filled nav-tab-icon icon-vcenter"></i>
            </div>
            <div class="nav-tab-text ellipses nav-menu-text">{{t 'menu.country.title'}}</div>
          </div>
        {{/fast-button}}
      </div>
      
      <div class="nav-tab">
        {{#fast-button action="clickMenu" menuName="global" class="btn nav-menu-btn nav-menu-global"}}
          <div class="flex-col flex-col-center">
            <div class="nav-icon-wrapper">
              <i class="icon-globe nav-tab-icon icon-vcenter"></i>
            </div>
            <div class="nav-tab-text ellipses nav-menu-text">{{t 'menu.global.title'}}</div>
          </div>
        {{/fast-button}}
      </div>
      
      <div class="nav-tab">
        {{#fast-button action="clickMenu" menuName="support" class="btn nav-menu-btn nav-menu-support"}}
          <div class="flex-col flex-col-center">
            <div class="nav-icon-wrapper">
              <i class="icon-heart nav-tab-icon icon-vcenter"></i>
            </div>
            <div class="nav-tab-text ellipses nav-menu-text">{{t 'menu.support.title'}}</div>
          </div>
        {{/fast-button}}
      </div>
          
      {{#unless session.isAuthenticated}}
        
        <div class="nav-tab hidden-sm-up hidden" id="sidebar-info-tab">
          {{#fast-button action="clickMenu" menuName="info" class="btn nav-menu-btn nav-menu-info"}}
            <div class="flex-col flex-col-center">
              <div class="nav-icon-wrapper">
                <i class="icon-cloud nav-tab-icon icon-vcenter"></i>
              </div>
              <div class="nav-tab-text ellipses nav-menu-text">{{t 'info.title'}}</div>
            </div>
          {{/fast-button}}
        </div>
        
      {{/unless}}
      
      <div id="nav-menu-buffer-mobile"></div>
      
      <div class="nav-tab" id="nav-sidebar-close">
        {{#fast-button action="hide" class="btn nav-menu-btn nav-menu-close"}}
          <div class="flex-col flex-col-center">
            <div class="nav-icon-wrapper nav-burger nav-cross">
              <span class="lines"></span>
            </div>
            <div class="nav-tab-text ellipses nav-menu-text">{{t 'menu.close'}}</div>
          </div>
        {{/fast-button}}
      </div>
      
    </div>

  </div>

  <div id="nav-tabbar" class="col-sm-5 col-md-5 row">
    
    <div class="col-flex-sm row row-nowrap row-stretch">
      <div class="col-flex col-max nav-tabs-col row">
        
        <div class="col-flex row row-center-sm row-nowrap-xs row-vertical-sm">
          
        
          <div id="menu-tab" class="col-fixed-xs nav-tab hidden-sm hidden-md col-last-lg">
            {{#fast-button action="clickTab" tabName="menu" class="btn nav-tab-btn nav-tab-menu" applyFixedPositionTouchFix=true }}
              <div class="flex-col flex-col-center">
                <div class="nav-icon-wrapper nav-burger nav-cross">
                  <span class="lines"></span>
                </div>
                <div class="nav-tab-text ellipses nav-tabbar-text">{{#if media.isJumbo}}{{menuButtonText}}{{else}}{{t 'menu.menu'}}{{/if}}</div>
              </div>
            {{/fast-button}}
          </div>
          
          <div class="col-flex-xs col-fixed-sm nav-tab">
            {{#fast-button action="clickTab" tabName="chat" class="btn nav-tab-btn nav-tab-chat" applyFixedPositionTouchFix=true}}
              <div class="flex-col flex-col-center">
                <div class="nav-icon-wrapper">
                  <i class="icon-chat nav-tab-icon icon-vcenter"></i>
                </div>
                <div class="nav-tab-text ellipses nav-tabbar-text">{{t 'chat.title'}}</div>
              </div>
            {{/fast-button}}
          </div>
          
          <div class="col-flex-xs col-fixed-sm nav-tab">
            {{#fast-button action="clickTab" tabName="timeline" class="btn nav-tab-btn nav-tab-timeline" applyFixedPositionTouchFix=true }}
              <div class="flex-col flex-col-center">
                <div class="nav-icon-wrapper">
                  <i class="icon-list-bullet nav-tab-icon icon-vcenter"></i>
                </div>
                <div class="nav-tab-text ellipses nav-tabbar-text">{{t 'timeline.title'}}</div>
              </div>
            {{/fast-button}}
          </div>
          
          <div class="col-flex-xs col-fixed-sm nav-tab">
            {{#fast-button action="clickTab" tabName="alerts" class="btn nav-tab-btn nav-tab-alerts" applyFixedPositionTouchFix=true}}
              <div class="flex-col flex-col-center">
                <div class="nav-icon-wrapper">
                  <i class="icon-attention nav-tab-icon icon-vcenter"></i>
                </div>
                <div class="nav-tab-text ellipses nav-tabbar-text">{{t 'alerts.title'}}</div>
              </div>
            {{/fast-button}}
          </div>
          
          <div class="col-flex-xs col-fixed-sm nav-tab">
            {{#fast-button action="clickTab" tabName="info" class="btn nav-tab-btn nav-tab-info" applyFixedPositionTouchFix=true}}
              <div class="flex-col flex-col-center">
                <div class="nav-icon-wrapper">
                  <i class="icon-cloud nav-tab-icon icon-vcenter"></i>
                </div>
                <div class="nav-tab-text ellipses nav-tabbar-text">{{t 'info.title'}}</div>
              </div>
            {{/fast-button}}
          </div>
          
        </div>
        
      </div>
      
      <div class="col-flex nav-tabs-end hidden-sm-up center-parent">
        {{#link-to "index" class="btn-a"}}<i class="icon-logo center-child" aria-hidden="true"></i>{{/link-to}}
      </div>
    
    </div>
    
    
    {{!safari-helper}}
  </div>
  
</div>

{{backtotop-button
  currentPath=currentPath
  buttonIsShowing=(mut backToTopButtonIsShowing)
  subNavButtonIsShowing=(readonly subNavButtonIsShowing)
  subNavMode=(readonly subNavMode)}}

{{sub-nav
  backToTopButtonIsShowing=(readonly backToTopButtonIsShowing)
  navButtonIsShowing=(mut subNavButtonIsShowing)
  subNavMode=(mut subNavMode)}}