{{page-header title=(t 'dashboard.title') images="dash"}}

<div class="row">
  <div class="col-md-4 col-sm-6 dash-box-container row">
    <div class="dash-box dash-col">
      
      <div class="panel-title">{{t 'dashboard.news.game-news'}}</div>
    
      {{#each model.news key="id" as |article|}}
        
        <div class="gap-3x">
          <h2>{{#link-to "news.article" article.id}}{{article.title}}{{/link-to}}</h2>
          
          {{#if article.img}}
            
            {{#link-to "news.article" article.id class="non-text"}}
              {{fade-bg showLoader=true imageUrl=article.img bgClass="dash-news-image" class="gap-md" }}
            {{/link-to}}
          
          {{/if}}
          
          <p class="gap-sm">
          
            {{{article.short}}}
            
            {{#if article.hasMoreToRead}}
              {{#link-to "news.article" article.id class="nowrap"}}{{t 'dashboard.news.read-more'}}{{/link-to}}
            {{/if}}
            
          </p>
          <div class="news-date">
            {{#if article.isNewToUser}}<b>{{t 'dashboard.news.new'}}</b> &bullet;{{/if}}
            {{date-ui date=article.date class="news-date"}}
            {{#if article.author}}
            
              {{t 'dashboard.news.by-manager' manager=(manager article.author)}}
              
            {{/if}}
          </div>
        </div>
        
      {{/each}}

      <div class="more-news">
        {{#link-to "news"}}{{t 'dashboard.news.more-news'}}{{/link-to}}
      </div>
      
    </div>
  </div>
  <div class="col-md-4 col-sm-6 dash-box-container row">
    <div class="dash-box dash-col">
      
      <div class="panel-title">{{t 'dashboard.news.national-news'}}</div>
    
      {{#each model.nationalNews key="id" as |article|}}
        
        <div class="gap-3x">
          <h2>{{#link-to "national-news.article" article.id}}{{article.title}}{{/link-to}}</h2>
          
          {{#if article.img}}
            
            {{#link-to "national-news.article" article.id class="non-text"}}
              {{fade-bg showLoader=true imageUrl=article.img bgClass="dash-news-image" class="gap-md" }}
            {{/link-to}}
            
          {{/if}}
          
          <p class="gap-sm">
            {{{article.short}}}
            
            {{#if article.hasMoreToRead}}
              {{#link-to "national-news.article" article.id class="nowrap"}}{{t 'dashboard.news.read-more'}}{{/link-to}}
            {{/if}}
          </p>
          <div class="news-date">
            {{#if article.isNewToUser}}<b>{{t 'dashboard.news.new'}}</b> &bullet;{{/if}}
            {{date-ui date=article.date class="news-date"}}
            {{#if article.author}}
            
              {{t 'dashboard.news.by-manager' manager=(manager article.author)}}
              
            {{/if}}
            
            {{t 'dashboard.news.in-country' country=(country article.country class="nowrap")}}
            
            <!-- Keep to show how to use concat, until we need it somewhere else -->
            {{!t 'dashboard.news.in-country' country=(link value=article.country.name route=(concat '/countries/' article.country.id) class="nowrap")}}
            
          </div>
        </div>
        
      {{/each}}
      
      <div class="more-news">
        {{#link-to "national-news"}}{{t 'dashboard.news.more-national-news'}}{{/link-to}}
      </div>
      
    </div>
  </div>
  <div class="col-md-4 col-sm-12 dash-col row">
  </div>
</div>