{{page-header title="Dashboard" images="dashboard"}}

<div class="row">
  <div class="col-md-4 col-sm-6 dash-box-container row">
    <div class="dash-box dash-col">
      
      <div class="panel-title">Game News</div>
    
      {{#each model.news key="id" as |article|}}
        
        <div class="gap-3x">
          <h2>{{#link-to "news.article" article.id}}{{article.title}}{{/link-to}}</h2>
          
          {{#if article.img}}
            
            {{fade-bg showLoader=true imageUrl=article.img bgClass="dash-news-image" class="gap-md" }}
          
          {{/if}}
          
          <p class="gap-sm">
          
            {{{article.short}}}
            
            {{#if article.hasMoreToRead}}
              {{#link-to "news.article" article.id class="nowrap"}}Read more.{{/link-to}}
            {{/if}}
            
          </p>
          <div class="news-date">
            {{#if article.isNewToUser}}<b>NEW</b> &bullet;{{/if}}
            {{date-ui date=article.date class="news-date"}}
          </div>
        </div>
        
      {{/each}}

      <div class="more-news">
        {{#link-to "news"}}More news{{/link-to}}
      </div>
      
    </div>
  </div>
  <div class="col-md-4 col-sm-6 dash-box-container row">
    <div class="dash-box dash-col">
      
      <div class="panel-title">National News</div>
    
      {{#each model.nationalNews key="id" as |article|}}
        
        <div class="gap-3x">
          <h2>{{#link-to "national-news.article" article.id}}{{article.title}}{{/link-to}}</h2>
          <p class="gap-sm">
            {{{article.short}}}
            
            {{#if article.hasMoreToRead}}
              {{#link-to "national-news.article" article.id class="nowrap"}}Read more.{{/link-to}}
            {{/if}}
          </p>
          <div class="news-date">
            {{#if article.isNewToUser}}<b>NEW</b> &bullet;{{/if}}
            {{date-ui date=article.date class="news-date"}}
            {{#if article.author}}
              by 
              {{#link-to "managers.manager" article.author.id class="nowrap"}}{{article.author.username}}{{/link-to}}
            {{/if}}
            in {{#link-to "countries.country" article.country.id class="nowrap"}}{{article.country.name}}{{/link-to}}
          </div>
        </div>
        
      {{/each}}
      
      <div class="more-news">
        {{#link-to "national-news"}}More national news{{/link-to}}
      </div>
      
    </div>
  </div>
  <div class="col-md-4 col-sm-12 dash-col row">
  </div>
</div>