<div class="safari-message warning" aria-hidden="true">
  <i class="icon-attention icon-vcenter"></i>
  {{t 'helpers.safari.nope'}} <a {{action "showContent"}}>{{t 'helpers.safari.more'}}</a>.
  {{circle-close}}
</div>

<div class="safari-content warning" aria-hidden="true">

  {{t 'helpers.safari.blurb'}}
  
  <img class="img-responsive gap-md" src="assets/images/errors/safari.png" alt="Safari footer bar">
  
  <p><b>{{t 'helpers.safari.help'}}</b></p>
  
  <p>
    <b>{{t 'helpers.instructions.step-number' number="1"}}</b>
    <img class="img-responsive gap-md" src="assets/images/errors/safari-1.png" alt="Safari footer bar">
  </p>
  
  <b>{{t 'helpers.instructions.step-number' number="2"}}</b>
  <img class="img-responsive" src="assets/images/errors/safari-2.png" alt="Safari footer bar">
  
</div>