{{#if to}}
  
  <a {{action "goBackTo" to}} class="btn-a"><i class="icon-ios-back"></i>{{t 'buttons.back'}}</a>
  
{{else}}
  
  <a {{action "goBack"}} class="btn-a"><i class="icon-ios-back"></i>{{t 'buttons.back'}}</a>
  
{{/if}}