<div class="row">
  <div class="col-xs-6 col-sm-4 col-md-12 dash-box-container dash-left dash-left-reset-lg row">
  
  
  
  
  
    {{#dash-card class="bg-override-master white" title=(t 'dashboard.cards.bank-balance') icon-class="icon-money" }}
      
      <h2 class="top-gap-sm no-gap">
        {{#if session.isAuthenticated}}
          ${{number currentClub.bankBalance roundMillions=true}}
        {{else}}
          $0.00
        {{/if}}
      </h2>
      
      {{#unless session.isAuthenticated}}
        {{#link-to "login" class="btn btn-ghost white fill-white btn-small no-gap top-gap-md"}}{{t 'buttons.login'}}{{/link-to}}
        {{#link-to "signup" class="btn btn-ghost white fill-white btn-small no-gap top-gap-md"}}{{t 'buttons.signup'}}{{/link-to}}
      {{/unless}}
      
    {{/dash-card}}
    
    
    
    
  </div>
  <div class="col-xs-6 col-sm-4 col-md-12 dash-box-container row">
  
  
  
  
    {{#dash-card class="bg-override-secondary white" title=(t 'dashboard.cards.weather') icon-class="icon-cloud"}}
    
      {{weather-icon weatherId=info.weather dayOrNight=info.dayOrNight label=info.weatherLabel class="dash-weather-icon"}}
    
    {{/dash-card}}
    
    
    
  
  </div>
</div>